mixin sProfile(data)
	// start sProfile
	+b.SECTION.sProfile.section#sProfile&attributes(attributes)
		.container
			block
			+b.section-title
				+e.bg
					+e.ball--1
					+e.ball--2
					+e.ball--3
					+e.ball--4
				+e.row.row.align-items-center
					.col-auto
						//+e.logo(href='#')
							img(loading="lazy" src="img/@2x/company-logo-3.jpg" alt="")
						+e.logo(href='#')
							img(loading="lazy" src="img/svg/company-stab3.svg" alt="")
					.col-12.col-md
						h1 ЧУЗ Клиническая больница «РЖД - Медицина» города&#160;Санкт-Петербург
			+e.row.row
				+e.l-col.col-xl-9
					+e.txt-box
						p Центр дентальной травматологии Iceberg.
						p Наша стоматологическая клиника, основанная в 2013 году является ведущей частной клиникой в стоматологической травматологии (IADT Fellow). В 2019 году стала второй в рейтинге лучших частных клиник России по версии “Коммерсантъ”.
						p Мы помогаем людям открыто улыбаться, общаться уверенно и наслаждаться пищей, чтобы они могли достигать свои жизненные цели, не задумываясь о проблемах с зубами.
						p Открыто делимся опытом и формируем уважение к российской медицине среди мирового сообщества,  повышая компетентность врачей и населения по всему миру.
						p Объединяем усилия профессиональной команды и оснащение  цифровой зуботехнической лаборатории, взрослого отделения и детского отделения с анестезиологией, чтобы восстановить прежний вид улыбки и восстановить здоровье на долгие годы.
					+contacts('d-xl-none mb-18 mb-md-24')
					+profSocBl('d-xl-none mb-36 mb-md-48')
					//-
					+sVacCardGalery()
					+e.sm-title.pb-18.pb-md-24 Вакансии организации
					+e.vac-items
						+profileItem({
							logo: '1',
						})
						+profileItem({
							logo: false,
						})
						+profileItem({
							logo: '1',
						})
				.col-xl-3.d-none.d-xl-block
					+contacts('mb-24')
					+profSocBl('')
	// end sProfile

mixin profileItem(data)
	+b.prof-vac(class=`${data.addClasses || ''}`)
		+e.date-box
			+e.date-row.row.align-items-center
				.col-auto
					+e.date=`${data.date || '04.02.2021'}`
				.col-auto
					+e.like-btn(href='#' class=`${data.likeBtnClasses || ''}`)
						+icon('like')
		+e.name-bl
			+e.name(href="#")=`${data.name || 'Врач-терапевт стационар'}`
			+e.salary=`${data.salary || '30 000-35 000 ₽'}`
		if data.hiddenItems || data.descr
			//-.prof-vac-hidden-js
			+e.descr Образование среднее специальное медицинское; Наличие действующего сертификата: «Сестринское дело»/«Акушерское дело»; Владение навыком взятия венозной крови; Опыт работы от года (желательно); Знание...
		+e.row.row
			.col-auto
				if data.logo
					+e.logo(href='#')
						img(loading="lazy" src=`img/@2x/${data.imgName || 'prof-vac-logo-'}${data.logo}.png` alt="")
				else
					+e.logo--empty(href='#')
						img(loading="lazy" src="img/svg/company-stab4.svg" alt="")
			.col
				+e.title=`${data.title || 'ЧУЗ Клиническая больница «РЖД - Медицина» города Санкт-Петербург'}`
				+e.city=`${data.city || 'г. Санкт-Петербург'}`
		if data.hiddenItems
			//-.prof-vac-hidden-js
			+e.hidden-btns
				+e.btns-row.row
					.col-auto
						+e.btn--blue(href='#') Откликнуться
					.col-auto
						+e.btn--gray(href='#') Позвонить



mixin profSocBl(addClasses='', title='Поделиться')
	+b.prof-soc(class=addClasses)
		+e.box
			+e.title=title
		+e.box
			+e.row.row
				+profSocBlItem('tg')
				+profSocBlItem('tw')
				+profSocBlItem('fb')
				+profSocBlItem('vk')
				+profSocBlItem('ok')

mixin profSocBlItem(iconName)
	.col-auto
		+e.item(href='#')
			img(loading="lazy" src=`img/svg/n-${iconName}.svg` alt="")


mixin emploeeAmount(addClasses='')
	+b.emp-am(class=addClasses)
		+e.bg
			+e.ball--1
			+e.ball--2
		+e.title Количество сотрудников
		+e.amount
			img(loading="lazy" src="img/@2x/doctor.png" alt="")
			span 102

mixin contacts(addClasses='')
	+b.contacts(class=addClasses)
		+e.row.row
			.col-12
				+e.item
					+e.headline Контакты
			+contactsCell('Город:')
				+e.txt Санкт-Петербург
			+contactsCell('Адрес:')
				+e.txt--address 435345, г. Санкт-Петербург, ул. Иванова, д 7
			+contactsCell('Телефон:')
				+e.tell(href='tel:+74995465567') + 7 (499) 546-55-67
			+contactsCell('E-mail:')
				+e.link(href="mailto:info@iceberg.dental") info@iceberg.dental
			+contactsCell('Сайт:')
				+e.link(href="www.iceberg.dental" target="_blank" ) www.iceberg.dental

mixin contactSoc(iconName)
	.col-auto
		+e.soc-link(href="#")
			img(loading="lazy" src=`img/svg/${iconName}.svg` alt="")

mixin contactsCell(title)
	.col-12
		+e.item
			if title
				+e.title=title
			block