mixin modal()
	//  start modals
	//-
	+b.modal-callback.modal-win(id="modal-callback" class=" " style="display: none" )
		+form-wrap
			+e.hedline Откликнуться на вакансию
			+e.data
				+e.d-row.row
					.col-auto
						+e.img
							img(loading="lazy" src="img/@2x/proffesional-1.jpg" alt="")
					.col
						+e.name Иванов Иван Иванович
						+e.short-info 24 года, Самара, Врач-хирург, 30 000 руб
						+e.mail arts.man@mail.ru
			+input('Ваше сообщение', 'textarea', 'Сопроводительное письмо:', 'message')
			+e.btn(type='submit') Отправить
	+b.modal-contacts.modal-win(id="modal-contacts" class=" " style="display: none" )
		+e.title Контакты компании
		+e.items
			+e.item
				+e.i-title Телефон:
				+e.link(href="tel:+79198112840") +7 (919) 811-28-40
			+e.item
				+e.i-title Email:
				+e.link(href="mailto:konstantinopolskaya1616@gmail.com") konstantinopolskaya1616@gmail.com
	//045++
	+b.modal-login.modal-new.text-center.modal-win(id="modal-login" class=" " style="display: none")
		+e.ball
			img(loading="lazy" src='img/svg/padlock.svg' alt="")
		+e.title Авторизуйтесь или зарегистрируйтесь, чтобы познакомиться ближе
		+e.descr После авторизации вы получите множество возможностей сервиса MedicJobs.ru.
		+e.row.row.justify-content-center
			.col-md-auto
				+e.btn--green(href='#') Авторизация
			.col-md-auto
				+e.btn--blue(href='#') Регистрация
		+e.already
			| Уже зарегистрированы и забыли пароль?
			|
			a(href="#") Восстановить доступ
	//-
	+b.modal-complain.modal-new.modal-win(id="modal-complain" style="display: none")
		+e.title.text-center Укажите причину жалобы
		+e.radio-items
			+customRadioDulpicate('Вакансия закрыта / не существует','complain')(checked)
			+customRadioDulpicate('Условия не соответствуют действительности','complain')
			+customRadioDulpicate('Мошенничество','complain')
			+customRadioDulpicate('Вакансия содержит дискриминационные требования','complain')
			+customRadioDulpicate('Другое','complain')
		+e.row.row.align-items-center.justify-content-center
			.col-md-auto
				+e.btn--blue(href="#") Отправить
			.col-md-auto
				+e.btn--gray.modal-close-js(href="#") Отменить
	//
	+b.modal-cface.modal-new.text-center.modal-win(id="modal-cface" class=" " style="display: none")
		+e.face-txt Контактное лицо:
		+e.name Константин Константинович Константинопольский
		+e.duty Главный врач
		+e.number(href='tel:+79035251051') +7 903 525‑10-51
		+e.mail(href='mailto:info@nameclinic.ru') info@nameclinic.ru
		+e.shedule-txt Режим работы:
		+e.shedule-val пн-пт: 8:00—22:00, сб-вс: выходной
		+e.footer Скажите, что нашли вакансию на сайте MedicJobs.ru
	//end 045++
	//048++
	+b.modal-checkbox.modal-new.modal-win(id="modal-sphere" class=" " style="display: none")
		+e.content
			+e.header.text-center Выберите отрасль
			+e.checkboxes
				+customChbDDItem('Медицина, фармацевтика', 'active')
					+customChbDDItem('Медицинские организации', 'active')
						+customChbAlt('Стационар')
						+customChbAlt('Женская консультация')
						+customChbAlt('Лаборатория')
						+customChbAlt('Поликлиника')
						+customChbAlt('Роддом, родильное отделение')
						+customChbAlt('Наркология')
						+customChbAlt('Психиатрия')
						+customChbAlt('Фтизиатрия')
						+customChbAlt('Травпункт')
						+customChbAlt('Хоспис')
						+customChbAlt('Аптека')
						+customChbAlt('Стоматология')
						+customChbAlt('Скорая помощь')
						+customChbAlt('Онкология')
					+customChbAlt('Аптека')
					+customChbAlt('Салоны оптики, мед. оборудования и т.д.')
					+customChbAlt('Лаборатории')
					+customChbAlt('Научно-исследовательские и научно-практические учреждения')
					+customChbAlt('Уход за больными, Хосписы')
					+customChbAlt('Фармацевтика')
					+customChbAlt('Санаторий')
					+customChbAlt('Санитарно-эпидемиологический надзор')
					+customChbAlt('Другое')
				//-
				- for (var i = 0; i < 5; i++)
					+customChbAlt('IT, интернет, связь')
					+customChbAlt('Административная работа, серкретариат, АХО')
					+customChbAlt('Безопасность, службы охраны')(checked)
					+customChbAlt('Бухгалтерия, финансы, аудит')
					+customChbAlt('Государственная служба')
			+e.footer
				+e.chosen-txt Выбрано: 7 отраслей
				+e.btns-row.row
					.col-6
						+e.btn--gray(type="button") Очистить
					.col-6
						+e.btn--green(type="button") Применить
	+b.modal-checkbox.modal-new.modal-win(id="modal-region" class=" " style="display: none")
		+e.content
			+e.header.text-center Выберите регионы показа
			+e.checkboxes
				+customChbAlt('Россия')(checked)
				+customChbDDItem('Москва', '')
				+customChbDDItem('Московская область', '')(checked)
				+customChbDDItem('Санкт-Петербург', '')
				+e.letter А
				+customChbDDItem('Алтайский край', '')
				+customChbDDItem('Амурская область', '')
				+customChbDDItem('Архангельская область', '')
				+e.letter Б
				+customChbDDItem('Белгородская область', '')
				+customChbDDItem('Брянская область', 'active')
					+customChbAlt('Брянск')
					+customChbAlt('Дятьково')(checked)
					+customChbAlt('Жуковка')
					+customChbAlt('Злынка')
				+e.letter В
				+customChbDDItem('Владимирская область', '')
				//-
				- for (var i = 0; i < 5; i++)
					+customChbAlt(`Злынка${i}`)
			+e.footer
				+e.chosen-txt Выбрано: 1 страна, 7 регионов, 1 город
				+e.btns-row.row
					.col-6
						+e.btn--gray(type="button") Очистить
					.col-6
						+e.btn--green(type="button") Применить
	//end 048++
	+b.modal-city.modal-win(id="modal-city" class=" " style="display: none" )
		+e.title Выберите город
		+form-wrap()
			+e.input-wrap.form-group
				+e.INPUT.input.form-control(type="text" placeholder="Введите город" name="city")
				+e.cross-btn(type="button")
			+e.results
				ul
					li: a(href="#")  Москва
					li: a.current(href="#")  Екатеринбург
					li: a(href="#")  Краснодар
					li: a(href="#")  Нижний Новгород
					li: a(href="#")  Новосибирск
					li: a(href="#")  Ростов-на-Дону
					li: a(href="#")  Самара
					li: a(href="#")  Санкт-Петербург
					li: a(href="#")  Уфа
					li: a(href="#")  Челябинск
					li: a(href="#")  Таганрог
					//
					li: a(href="#")  Самара
					li: a(href="#")  Санкт-Петербург
					li: a(href="#")  Уфа
					li: a(href="#")  Челябинск
					li: a(href="#")  Таганрог
	+b.modal-city.modal-win(id="modal-city2" class=" " style="display: none" )
		+e.title Выберите город
		+form-wrap()
			+e.input-wrap.form-group
				+e.INPUT.input.form-control(type="text" placeholder="Введите город" name="city" value="Толь")
				+e.cross-btn(type="button")
			+e.results
				ul
					li: a(href="#") Тольятти
	//-modal load
	+b.modal-load.modal-win.text-center(id="modal-load" class=" " style="display: none" )
		+e.title Загрузите фотографию
		+e.descr Фотография весом не более 3 мб, размером не более 1024 пикс. (ширина) и 1024 пикс. (высота), в форматах: jpeg или png.
		+e.btn--load(type="button") Загрузить файл
	+b.modal-load.modal-win.text-center(id="modal-load2" class="" style="display: none")
		+e.title Загрузите фотографию
		+e.descr Фотография весом не более 3 мб, размером не более 1024 пикс. (ширина) и 1024 пикс. (высота), в форматах: jpeg или png.
		+e.name ...logo-company.png
		+e.btn--save(type="button") Сохранить
	//modal archive
	+b.modal-load.modal-win.text-center(id="modal-achive" class="" style="display: none")
		+e.title Вы уверены, что хотите перенести вакансию в архив?
		+e.btns-row.row.justify-content-center
			.col-auto
				+e.btn-sm(type="button") Да
			.col-auto
				+e.btn-sm.modal-close-js(type="button") Нет
	+b.modal-load.modal-win.text-center(id="modal-achive2" class="" style="display: none")
		+e.title Вы уверены, что хотите перенести вакансию в архив?
		+e.btns-row.row
			.col-12
				+e.btn-big(type="button") Позиция закрылась с MedicJobs.ru
			.col-12
				+e.btn-big(type="button") Позиция закрылась не с помощью MedicJobs.ru
			.col-12
				+e.btn-big(type="button") Позиция не закрылась
			.col-12
				+e.btn-big(type="button") Другая причина
	//---
	+customModal('work-conditions', 'Условия работы')
		//-1
		+e.input-wrap.form-group
			+e.title-wrap
				+e.title Желаемая должность
			+e.INPUT.input.form-control(type="text" placeholder="" name="la")
			+customChbDuplicate('Рассмотрю повышение')
		//-
		+e.input-wrap.form-group
			+e.title-wrap
				+e.title Город для поиска вакансий
			+customSlectDuplicate('city', ['Самара', 'Самара 2', 'Самара 3'])
		//-2
		+e.input-wrap.form-group
			+e.title-wrap
				+e.title Желаемая заработная плата
				+e.secondary Будет видна работодателю
			+e.inp-row.row
				.col
					+e.INPUT.input.form-control(type="text" placeholder="" name="la")
				.col-auto
					+customSlectDuplicate('currency', ['₽', 'A', 'B'])
		//-3
		+e.input-wrap.form-group
			+e.title-wrap
				+e.title Приемлемая (минимальная) заработная плата
				+e.secondary Задается для интеллектуального поиска
			+e.inp-row.row
				.col
					+e.INPUT.input.form-control(type="text" placeholder="" name="la")
				.col-auto
					+customSlectDuplicate('currency', ['₽', 'A', 'B'])
		//-4
		+e.input-wrap.form-group
			+e.title-wrap
				+e.title Профобласть
				+e.secondary Выберите одну или несколько областей
			+multipleSelect2('prof-sphere', undefined, undefined, 'Выберите одну или несколько областей')
	//- ------------
	+customModal('experience', 'Опыт работы')
		+repeatorBl()
			//-1
			+e.input-wrap.form-group
				+e.title-wrap
					+e.title Опыт работы
				+e.INPUT.input.form-control(type="text" placeholder="Наименование организации" name="WorkingHistory[name][0]")
			//-2
			+e.input-wrap.form-group
				+e.title-wrap
					+e.title Должность
				+e.INPUT.input.form-control(type="text" placeholder="Должность" name="la")
			//-3
			+e.input-wrap.form-group
				+e.title-wrap
					+e.title Обязанности и достижения
				+e.TEXTAREA.input.form-control(name="la")
			//-4
			+e.input-wrap.form-group
				+e.inp-row.row
					.col-6
						+e.inp-row.row
							+e.two-title.col-12 Начало работы
							.col-6
								+customSlectDuplicate('month', ['Января', 'Февраля', 'Марта'])
							.col-6
								+customSlectDuplicate('year')
									option 1997
									- for (var i=1998; i <= new Date().getFullYear(); i++)
										option=i
					.col-6
						+e.inp-row.row
							+e.two-title.col-12 Окончание работы
							.col-6
								+customSlectDuplicate('month', ['Января', 'Февраля', 'Марта'])
							.col-6
								+customSlectDuplicate('year')
									option 1997
									- for (var i=1998; i <= new Date().getFullYear(); i++)
										option=i
							.col-12
								+customChbDuplicate('Рассмотрю повышение')
	//- -----
	+customModal('about', 'Обо мне')
		+e.input-wrap.form-group
			+e.title-wrap
				+e.title Расскажите о себе
			+e.TEXTAREA.input.form-control.double(name="la" placeholder="Расскажите о себе в нескольких предложениях")
	//- -----
	+customModal('family', 'Семья')
		//-1
		+e.input-wrap.form-group
			+e.inp-row.row.align-items-center
				+e.title-col.col-auto
					+e.title В браке
				.col-auto
					+customRadioDulpicate('Да','family','yes')(checked)
				.col-auto
					+customRadioDulpicate('Нет','family','no')
			+e.inp-row.row.align-items-center
				+e.title-col.col-auto
					+e.title Дети
				.col-auto
					+customRadioDulpicate('Да','kids','yes')(checked)
				.col-auto
					+customRadioDulpicate('Нет','kids','no')
	//---
	+customModal('address', 'Место жительства')
		+e.input-wrap.form-group
			+e.title-wrap
				+e.title Город, улица, дом
			+e.INPUT.input.form-control(type="text" placeholder="Начните вводить" name="la")
	//---
	+customModal('prof-skills', 'Профессиональные навыки')
		+e.input-wrap.form-group
			+e.title-wrap
				+e.title Укажите или выберите не более 5 навыков
			+multipleSelect2('prof-skills', undefined, undefined, 'Выберите одну или несколько областей')
				option(selected) Умный
				option(selected) Усидчевый
	//---
	+customModal('common-skills', 'Общие навыки')
		+e.input-wrap.form-group
			+e.title-wrap
				+e.title Укажите или выберите не более 5 навыков
			+multipleSelect2('common-skills', undefined, undefined, 'Выберите одну или несколько областей')
				option(selected) Умный
				option(selected) Усидчевый
	//---
	+customModal('achievements', 'Достижения и награды')
		+e.input-wrap.form-group
			+e.title-wrap
				+e.title Тип достижения
			+customSlectDuplicate('achievement-type', ['Звание', 'placeholder', 'placeholder 2'])
		+e.input-wrap.form-group
			+e.title-wrap
				+e.title Описание достижения
			+e.INPUT.input.form-control(type="text" placeholder="" name="la")
			//-+customSlectDuplicate('achievement-descr', ['Звание', 'placeholder', 'placeholder 2'], undefined, 'Описание достижения')
				option(label="#")
				option placeholder 1
				option placeholder 2
				option placeholder 3
	//---
	+customModal('languages', 'Знание языков')
		+e.input-wrap.form-group
			+e.title-wrap
				+e.title Родной язык
			+customSlectDuplicate('mother-lang', ['Русский', 'placeholder', 'placeholder 2'])
			+e.title-wrap
				+e.title Инностранные языки
			+repeatorBl()
				+e.inp-row.row.pb-24
					.col-6
						+customSlectDuplicate('lang', ['Английский', 'Украинский', 'JavaScript'])
					.col-6
						+customSlectDuplicate('lang-lvl', ['А1 - Начальный', 'А2 - Начальный', 'А3 - Начальный', 'B1 - Средний'])
	//---
	+customModal('sience-grade', 'Научная степень')
		+e.repeater.repeator-js
			+e.r-item.r-item-js
				+e.input-wrap.form-group
					+e.title-wrap
						+e.title Научная степень
					+customSlectDuplicate('mother-lang', ['Русский', 'placeholder', 'placeholder 2'], undefined, 'Выберите из списка')
						option(label="#")
						option placeholder 1
						option placeholder 2
						option placeholder 3
			+e.r-add-btn.r-add-btn-js(type='button') Добавить
	//---
	+customModal('training', 'Повышение квалификации')
		+e.repeater.repeator-js
			+e.r-item.r-item-js
				//-
				+e.input-wrap.form-group
					+e.title-wrap
						+e.title Тип повышения квалификации
					+customSlectDuplicate('la', ['Русский', 'placeholder', 'placeholder 2'], undefined, 'Дополнительное образование, Стажировка, Мероприятие')
						option(label="#")
						option Дополнительное образование
						option Стажировка
						option Мероприятие
				//-1
				+e.input-wrap.form-group
					+e.title-wrap
						+e.title Наименование
					+e.INPUT.input.form-control(type="text" placeholder="Наименование" name="la")
				//-2
				+e.input-wrap.form-group
					+e.title-wrap
						+e.title Год
					+e.INPUT.input.form-control(type="text" placeholder="Введите год" name="la")
			+e.r-add-btn.r-add-btn-js(type='button') Добавить
	//---
	+customModal('employer-preferences', 'Предпочтения по работодателю')
		+e.input-wrap.form-group
			+e.title-wrap
				+e.title Форма собственности
			.pb-12
				+customRadioDulpicate('Не важно','owner-type','Не важно')(checked)
				+customRadioDulpicate('Частная','owner-type','Частная')
				+customRadioDulpicate('Государтсвенная','owner-type','Государтсвенная')
				+customRadioDulpicate('Инностранная','owner-type','Инностранная')
		+e.input-wrap.form-group
			+e.title-wrap
				+e.title Численность сотрудников
			.pb-12
				+customRadioDulpicate('До 20','employee-amount','До 20')(checked)
				+customRadioDulpicate('20-100','employee-amount','20-100')
				+customRadioDulpicate('100-300','employee-amount','100-300')
				+customRadioDulpicate('Более 300','employee-amount','Более 300')
	//---
	+customModal('vacancy-preferences', 'Предпочтения по вакансии')
		//-1
		+e.input-wrap.form-group
			+e.title-wrap
				+e.title Готовность к перезду
				+e.secondary Выберите регионы или округа (ПФО)
			+multipleSelect2('common-skills', undefined, undefined, 'Выберите одну или несколько областей')
				option(selected) Москва
			+e.inp-row.row.align-items-center
				.col-md-auto
					+e.secondary Тип населенного пункта
				.col-md
					+e.inp-row.row
						.col-auto
							+customChbDuplicate('Столица субъекта')
						.col-auto
							+customChbDuplicate('Городской')
						.col-auto
							+customChbDuplicate('Сельский')
		+e.input-wrap.form-group
			+e.title-wrap
				+e.title Готовность к командировкам
			.pb-0
				+customRadioDulpicate('Частые','business-trip','Частые')(checked)
				+customRadioDulpicate('Не частые','business-trip','Не частые')
				+customRadioDulpicate('Не готов','business-trip','Не готов')
		+e.input-wrap.form-group
			+e.title-wrap
				+e.title Время на дорогу до работы
			.pb-0
				+customRadioDulpicate('до 30 минут','time-to-work','до 30 минут')(checked)
				+customRadioDulpicate('30 минут - 1 час','time-to-work','30 минут - 1 час')
				+customRadioDulpicate('1-1,5 часа','time-to-work','1-1,5 часа')
				+customRadioDulpicate('более 1,5 часов','time-to-work','более 1,5 часов')
		//-
		+e.input-wrap.form-group
			+e.title-wrap
				+e.title Тип занятости
			.pb-0
				+customChbDuplicate('Полная занятость')
				+customChbDuplicate('Частичная занятость')
				+customChbDuplicate('Проектная работа')
				+customChbDuplicate('Волонтерство')
				+customChbDuplicate('Стажировка')
		//-
		+e.input-wrap.form-group
			+e.title-wrap
				+e.title График работы
			.pb-0
				+customChbDuplicate('Полный день')
				+customChbDuplicate('Сменный график')
				+customChbDuplicate('Гибкий график')
				+customChbDuplicate('Удаленная работа')
				+customChbDuplicate('Вахтовый метод')
		//-
		+e.input-wrap.form-group
			+e.title-wrap
				+e.title Условия оказание медицинской помощи
			.pb-0
				+customChbDuplicate('Амбулаторно')
				+customChbDuplicate('В дневном стационаре')
				+customChbDuplicate('Стационарно')
				+customChbDuplicate('Прочие')
		+e.input-wrap.form-group
			+e.title-wrap
				+e.title Ночные дежурства
			.pb-0
				+customRadioDulpicate('Не важно','night-shifts','Не важно')(checked)
				+customRadioDulpicate('Да','night-shifts','Да')
				+customRadioDulpicate('Нет','night-shifts','Нет')
	//---
	+customModal('articles', 'Статьи')
		+e.repeater.repeator-js
			+e.r-item.r-item-js
				//-
				+e.input-wrap.form-group
					+e.title-wrap
						+e.title Название статьи
					+e.INPUT.input.form-control(type="text" placeholder="Введите название статьи" name="la")
				//-
				+e.input-wrap.form-group
					+e.title-wrap
						+e.title Год релиза статьи
					+e.INPUT.input.form-control(type="text" placeholder="Введите год релиза статьи" name="la")
				//-
				+e.input-wrap.form-group
					+e.title-wrap
						+e.title Наименование журнала
					+e.INPUT.input.form-control(type="text" placeholder="Наименование журнала" name="la")
				//-
				+e.input-wrap.form-group
					+e.title-wrap
						+e.title Номер журнала
					+e.INPUT.input.form-control(type="text" placeholder="Введите номер журнала" name="la")
				//-
				+e.input-wrap.form-group
					+e.title-wrap
						+e.title Номера страниц
					+e.INPUT.input.form-control(type="text" placeholder="Введите номера страниц" name="la")
			+e.r-add-btn.r-add-btn-js(type='button') Добавить
	//---
	+customModal('prof-communities', 'Профессиональные сообщества')
		+e.repeater.repeator-js
			+e.r-item.r-item-js
				//-
				+e.input-wrap.form-group
					+e.title-wrap
						+e.title Наименование
					+e.INPUT.input.form-control(type="text" placeholder="Введите наименование" name="la")
				//-
				+e.input-wrap.form-group
					+e.title-wrap
						+e.title Год
					+e.INPUT.input.form-control(type="text" placeholder="Введите год" name="la")
			+e.r-add-btn.r-add-btn-js(type='button') Добавить
	//---
	+customModal('automobile', 'Автомобиль')
		+e.input-wrap.form-group
			+e.title-wrap
				+e.title Категория прав
			+e.inp-row.row
				.col-auto
					+customChbDuplicate('A')
				.col-auto
					+customChbDuplicate('B')
				.col-auto
					+customChbDuplicate('C')
				.col-auto
					+customChbDuplicate('D')
				.col-auto
					+customChbDuplicate('E')
		+e.input-wrap.form-group
			+e.title-wrap
				+e.title Наличие автомобиля
			.d-block
				+customChbDuplicate('Есть личный автомобиль')
	//---
	+customModal('bonuses', 'Бонусы в работе')
		+e.title-wrap
			+e.title Выберите из списка
			.d-block
				+customChbDuplicate('ДМС или медицинское обслуживание')
				+customChbDuplicate('Комфортные условия труда')
				+customChbDuplicate('Современное медицинское оборудование')
				+customChbDuplicate('Возможности внутреннего совместительства')
				+customChbDuplicate('Обучение и развитие за счет компании')
				+customChbDuplicate('Фитнес')
				+customChbDuplicate('Премии и бонусы')
				+customChbDuplicate('Программа Земский доктор или фельдшер')
				+customChbDuplicate('Предоставление жилья')
				+customChbDuplicate('Предоставление субсидий для переезда')
	//---
	+customModal('education', 'Образование')
		+e.repeater.repeator-js
			+e.r-item.r-item-js
				//-
				+e.input-wrap.form-group
					+e.title-wrap
						+e.title Страна
					+customSlectDuplicate('country', ['Россия', 'Февраля', 'Марта'], undefined, 'Выберите из списка')
				//-
				+e.input-wrap.form-group
					+e.title-wrap
						+e.title Город
					+customSlectDuplicate('city', ['Lviv', 'New-York', 'Berlin', 'Say Hey'], undefined, 'Выберите из списка')
				//-
				+e.input-wrap.form-group
					+e.title-wrap
						+e.title Наименование учебного заведения
					+e.INPUT.input.form-control(type="text" placeholder="Название или аббревиатура" name="la")
				//-
				+e.input-wrap.form-group
					+e.title-wrap
						+e.title Факультет
					+e.INPUT.input.form-control(type="text" placeholder="Факультет" name="la")
				//-
				+e.input-wrap.form-group
					+e.title-wrap
						+e.title Специальность
					+e.INPUT.input.form-control(type="text" placeholder="Специальность" name="la")
				//-
				+e.input-wrap.form-group
					+e.title-wrap
						+e.title Форма обучения
					+customSlectDuplicate('city', ['Lviv', 'New-York', 'Berlin', 'Say Hey'], undefined, 'Форма обучения')
						option Очная
						option Очно-заочная
						option Заочная
						option Экстернат
						option Дистанционная
				//-
				+e.input-wrap.form-group
					+e.title-wrap
						+e.title Форма обучения
					+customSlectDuplicate('city', [''], undefined, 'Форма обучения')
						option Не выбран
						option Абитуриент
						option Студент (специалист)
						option Студент (Бакалавр)
						option Студент (Магистр)
						option Выпускник (специалист)
						option Выпускник (Бакалавр)
						option Выпускник (Магистр)
						option Аспирант
						option Кандидат наук
						option Доктор наук
						option Интерн
						option Клинический ординатор
						option Ассистент-стажер
						option докторант
						option Адъюнкт
				//-
				+e.input-wrap.form-group
					+e.title-wrap
						+e.title Год окончания
					+e.inp-row.row
						.col-md-6
							+e.INPUT.input.form-control(type="text" placeholder="Год окончания" name="la")
						.col-md-6
							+e.secondary Если учитесь в настоящее время — укажите год предполагаемого окончания
			+e.r-add-btn.r-add-btn-js(type='button') Добавить
	//-+socModal('')
	+socModal('fb', '#2D88FF;')
	+socModal('vk', '#2787F5;')
	+socModal('inst', '#E05496;')
	+socModal('tg', '#2EA3E6;')
	+socModal('ok', '#EE8208;')
	+socModal('tw', '#1DA1F2;')
	+socModal('gpl', '#DB4A39;')
	// end modals

mixin socModal(iconName, iconColor)
	+b.modal-city.modal-win(id=`add-soc-${iconName}` class=" " style="display: none" )
		+e.title Добавить социальный профиль
		+form-wrap()
			+e.input-wrap.form-group.mb-48
				+e.INPUT.input--soc.form-control(type="text" placeholder="Ссылка на профиль" name=`soc-${iconName}`)
				+e.soc-icon
					+icon(`soc-${iconName}`)(style=`color: ${iconColor}`)
			+e.btns-row.row.justify-content-end
				.col-auto
					+e.discard-btn(type="button") Отменить
				.col-auto
					+e.save-btn(type="button") Сохранить изменения

mixin repeatorBl(addClasses='', hint)
	+e.repeater.repeator-js(class=addClasses)
		+e.r-item.r-item-js
			block
			+repeatorRemove()
		//- +e.r-item.r-item-js
		//- 	block
		//- 	+repeatorRemove()
		+e.r-add-btn.r-add-btn-js(type='button') Добавить
		if hint
			+e.r-hint.pt-12.r-hint-js.active=hint

mixin repeatorRemove()
	+e.remove-item.r-remove-item-js
		//-removed link here
		+e.r-btn
			+e.r-ball
				+icon('cross')
			+e.ri-txt Удалить

mixin customModal(modalId='place-id', title='Условия работы' ) 
	+b.custom-modal--js(id=modalId style="")
		+e.inner
			+e.close.close-cm-js
			+e.content.cm-content-js
				+e.cross-btn.close-cm-js
					img(loading="lazy" src='img/svg/custom-modal-close.svg' alt="")
				+form-wrap()
					+e.main-title=title
					block
					+e.foot-row.row
						.col-6.col-sm-auto
							+e.cancel-btn.close-cm-js Отменить
						.col-6.col-sm-auto
							+e.save-btn(type="submit") Сохранить изменения

mixin customChbDuplicate(txt)
	+b.LABEL.custom-chb
		input(type="checkbox" class="d-none" name="name")&attributes(attributes)
		span.square
		span.txt=txt

mixin customSlectDuplicate(selectName, optionsArr=['услуга 1', 'очень очень долгая услуга услуга 2', 'очень долгая услуга'], keyClass='default-select-js', dataPlaceholder='')
	+b.custom-select&attributes(attributes)
		select(name=selectName class=keyClass data-placeholder=dataPlaceholder)
			if block
				block
			else
				- for (let item of optionsArr)
					option(value=item)=item

mixin multipleSelect2(selectName, optionsArr=['Супер длинное такое чтоб в 2 строки, чтоб 100 пудов, и еще чуть чуть текста', 'качество 1', 'качество 2', 'качество 3', 'качество 4', 'качество 5'], keyClass='prof-slect2-js', dataPlaceholder)
	+b.multiple-select
		select(class=keyClass multiple='multiple' data-placeholder=dataPlaceholder)
			option(value="" label='#')
			//option(selected) Умный
			//option(selected) Усидчевый
			if block
				block
			else
			- for (let item of optionsArr)
				option(value=item)=item

mixin customRadioDulpicate(txt, name, val=txt)
	+b.LABEL.custom-radio
		input(type="radio" class="invisible" name=name value=val)&attributes(attributes)
		span.circle
		span.txt=txt

mixin customChbAlt(txt)
	//-048 ++
	+e.chb-cont
		+customChb(txt)&attributes(attributes)

mixin customChbDDItem(txt, addClasses='')
	+e.dd-item.chb-dd-item-js(class=addClasses)
		+e.dd-head.chb-dd-head-js
			+e.dd-arrow
			+e.ddh-txt=txt
			+customChb()&attributes(attributes)
		+e.dd-content.chb-dd-content-js(class=addClasses)
			if block
				block
			else
				+customChbAlt('placeholder')(checked)
				+customChbAlt('placeholder2')(checked)