mixin modal()
	//  start modals
	+b.modal-win(id="modal-call" class=" " style="display: none" )
		+form-wrap
			.text-center
				+e.title.form-data.h3.ttu Обратный звонок
				p.after-headline Заполните заявку и&nbsp;мы&nbsp;с&nbsp;Вами свяжемся в&nbsp;течение 15&nbsp;минут
				p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta at blanditiis error quis incidunt ratione. Expedita ullam repellendus possimus eos ex quidem quisquam quam voluptatum ipsa doloremque molestias accusamus rem deserunt tenetur incidunt exercitationem laboriosam consequuntur, repudiandae dolore odit earum voluptatibus autem amet! Eligendi omnis necessitatibus at accusamus excepturi, debitis magnam alias. Dolore voluptatum hic assumenda quo non facilis sed sint fugit ex quam. Natus eligendi sequi repellat earum doloremque vero consequatur repudiandae ipsam libero odit alias quia expedita magni fugit perspiciatis aperiam maxime illo, voluptatem omnis tenetur suscipit molestias beatae distinctio totam? Excepturi quaerat dolorum natus reprehenderit voluptas officiis totam recusandae harum autem ipsum laboriosam dolorem, tempore, maxime nam dignissimos aperiam cupiditate accusantium deleniti. Iusto harum facere blanditiis minima dolor assumenda error nisi soluta perferendis animi? Distinctio maxime, perspiciatis neque dignissimos reprehenderit obcaecati quo provident, dolores labore laborum adipisci at veniam reiciendis aliquam nemo minus cumque sequi quasi architecto aliquid magnam tempore expedita? Repellendus veniam est dicta nihil, aspernatur molestiae ducimus quibusdam voluptatibus saepe. Repudiandae itaque rem animi voluptas voluptate? Expedita numquam architecto totam quo quod quibusdam ut, rem earum, similique dolorum excepturi nobis quis, tempore et exercitationem repellendus! Ipsa, consequuntur praesentium quaerat excepturi voluptas, delectus maiores necessitatibus explicabo consequatur neque optio doloremque temporibus similique doloribus pariatur velit aliquam magni cum! Repellat mollitia quam saepe porro, culpa unde! Molestias laboriosam vitae nihil facere corporis cupiditate eos ea saepe dolorem, eaque laudantium quam distinctio, fugit placeat maxime enim dicta rem eligendi accusamus, eum id. Incidunt, illum quaerat ab modi iste quasi non laboriosam unde, atque fugit delectus cumque eligendi sapiente dolore autem omnis alias, adipisci dicta illo corrupti optio? Esse error numquam fugit itaque ipsam fugiat nostrum repudiandae recusandae, nobis repellat aperiam officiis labore possimus neque velit, a obcaecati illum quasi suscipit veritatis! Ea earum obcaecati impedit possimus adipisci vitae animi commodi consequatur omnis amet? Quod sed doloremque id nesciunt iure recusandae iste voluptatibus unde eligendi porro nulla architecto voluptates quasi temporibus, fugit asperiores quis! Facere non, illo quisquam cumque voluptate earum voluptatem corporis eum cum commodi omnis autem sequi nisi sit iure aperiam iusto dolor harum? Ex eligendi vero reiciendis culpa ipsa suscipit debitis, quam earum maxime. Nemo officia quasi consequuntur velit rem culpa ipsa quas earum excepturi amet fuga eum consequatur, repellendus commodi facere maxime. Magni voluptas consequatur facere dolores ut culpa, expedita fugit? Quae placeat asperiores est, fuga eligendi eius similique necessitatibus explicabo? Eveniet corporis tempora reiciendis, dolore ipsam quos aut ea alias amet nihil? Excepturi maiores mollitia inventore voluptate est ullam reprehenderit itaque iure quasi non molestias, vel veniam alias! Obcaecati laudantium ex incidunt autem ipsam a suscipit, in dolorem error deserunt minima laborum nulla facere officia sunt. Aliquid repellat rem sunt reprehenderit. Fugit perferendis officiis labore nesciunt pariatur optio minima aperiam et similique maxime odio laudantium eligendi deleniti culpa exercitationem impedit, fugiat magni vero temporibus eos obcaecati esse possimus asperiores dolores! Quod iure eius minus adipisci? Architecto sapiente corrupti error! Magni ea tempore laboriosam minus totam facilis iure voluptates nostrum officiis dignissimos nihil necessitatibus quam in, commodi molestiae expedita facere asperiores ad! Corporis delectus magnam, vel aspernatur rem laboriosam autem soluta aliquam iure impedit? Deserunt ad nam excepturi, quibusdam qui nisi necessitatibus, voluptatibus deleniti quo cumque ipsam cum repudiandae impedit in a laborum dignissimos ratione labore vitae officia quaerat magnam. Saepe ullam omnis harum reprehenderit beatae pariatur est? Animi dolores necessitatibus corrupti velit architecto obcaecati doloremque vero sapiente quaerat praesentium? Veniam illum iusto ea sunt deserunt, omnis consequatur est adipisci aliquid magnam quibusdam animi debitis magni excepturi accusamus vel facilis ipsa blanditiis expedita cumque fugiat! Aspernatur voluptatum quos corrupti blanditiis? Sapiente pariatur sunt culpa nesciunt consequatur eaque veritatis laborum possimus, saepe at nam amet exercitationem assumenda temporibus illo aliquid asperiores quae impedit beatae voluptatem? Vitae, totam quos odio nobis perferendis unde! Voluptates voluptatum, sint iure aliquid quis quod voluptatem saepe et similique, repellendus dolorum. Sed vel illo quisquam cum aut, ullam impedit quaerat a odit alias fugit repudiandae. Consequuntur voluptas explicabo eligendi, beatae esse nihil laborum illo rerum ab dolorum nemo iste est doloremque magnam. Repellendus in voluptates cumque ullam, cum odio quam deserunt optio doloremque modi nobis itaque cupiditate ea, neque exercitationem laborum, obcaecati mollitia earum debitis accusamus nisi dolorem autem libero dicta! Atque ad doloribus distinctio cumque nobis labore placeat? Necessitatibus, accusamus deleniti numquam asperiores distinctio tempora consectetur minus veritatis cum repellat architecto voluptatibus minima omnis aliquam fugit maiores eos veniam consequatur, rerum ex illo facere? Suscipit distinctio qui quae asperiores voluptates nobis unde, nisi soluta natus aspernatur tempore libero, nam iure? Modi, explicabo iusto tenetur placeat praesentium, sunt voluptatum soluta reiciendis quam atque hic dolorum in, esse consequuntur voluptate animi doloremque saepe expedita voluptates? Consectetur sint assumenda quaerat deleniti. Exercitationem, quas beatae. Ut ipsam eum nisi fugiat numquam saepe tempore dolorem necessitatibus consequatur, voluptatem eligendi magni laborum nostrum sed accusamus ducimus laudantium minus animi. Totam expedita vero voluptas libero ipsa! Facilis ullam vel libero aliquam sit itaque quasi delectus a rerum laborum, possimus, eos inventore nulla, excepturi exercitationem aliquid unde porro. Odio nulla labore repellat exercitationem cupiditate voluptates, obcaecati asperiores eligendi delectus commodi deserunt provident sit nam praesentium culpa cum amet explicabo, nisi dolores? Recusandae provident veritatis porro corporis voluptatem assumenda necessitatibus at. Sint quam in facere nihil hic cupiditate porro sapiente nisi, et ratione placeat commodi unde excepturi error repellat earum perspiciatis quisquam amet tempora. Expedita, ipsum? Molestias mollitia voluptatum sapiente inventore, perspiciatis ab laudantium, voluptatibus amet aliquid laborum autem? Adipisci aliquid voluptatum numquam quas quia ullam error sed illo, sit minima, consectetur temporibus unde? Rerum minima necessitatibus est expedita assumenda nesciunt, modi ea fugiat consectetur ad corporis velit ducimus quia aut cumque iusto voluptatibus et perferendis ipsum! Excepturi perferendis veritatis cumque quo, quod facere facilis impedit magnam numquam repellat ad tempora! Pariatur distinctio laborum, quaerat dolorem nostrum totam animi. Ipsa distinctio consectetur explicabo culpa, esse reprehenderit eveniet obcaecati, repudiandae dolorum vero expedita modi exercitationem iure aut provident sit cum adipisci consequatur id delectus voluptatum fuga ducimus natus. Cum, aperiam impedit error illo hic similique quo iure omnis ullam sapiente modi.
			+input("Ваше Имя")(required)  
			+e.BUTTON.btn.btn(type="submit"  ) 
			+polite()
	//---
	+customModal('work-conditions', 'Условия работы')
		//-1
		+e.input-wrap.form-group
			+e.title-wrap
				+e.title Желаемая должность
			+e.INPUT.input.form-control(type="text" placeholder="" name="")
			+customChbDuplicate('Рассмотрю повышение')
		//-
		+e.input-wrap.form-group
			+e.title-wrap
				+e.title Город для поиска вакансий
			+customSlectDuplicate('city', ['Самара', 'Самара 2', 'Самара 3'])
		//-2
		+e.input-wrap.form-group
			+e.title-wrap
				+e.title Желаемая заработная плата
				+e.secondary Будет видна работодателю
			+e.inp-row.row
				.col
					+e.INPUT.input.form-control(type="text" placeholder="" name="")
				.col-auto
					+customSlectDuplicate('currency', ['₽', 'A', 'B'])
		//-3
		+e.input-wrap.form-group
			+e.title-wrap
				+e.title Приемлемая (минимальная) заработная плата
				+e.secondary Задается для интеллектуального поиска
			+e.inp-row.row
				.col
					+e.INPUT.input.form-control(type="text" placeholder="" name="")
				.col-auto
					+customSlectDuplicate('currency', ['₽', 'A', 'B'])
		//-4
		+e.input-wrap.form-group
			+e.title-wrap
				+e.title Профобласть
				+e.secondary Выберите одну или несколько областей
			+multipleSelect2('prof-sphere', undefined, undefined, 'Выберите одну или несколько областей')
	//- ------------
	+customModal('experience', 'Опыт работы')
		+repeatorBl()
			//-1
			+e.input-wrap.form-group
				+e.title-wrap
					+e.title Опыт работы
				+e.INPUT.input.form-control(type="text" placeholder="Наименование организации" name="")
			//-2
			+e.input-wrap.form-group
				+e.title-wrap
					+e.title Должность
				+e.INPUT.input.form-control(type="text" placeholder="Должность" name="")
			//-3
			+e.input-wrap.form-group
				+e.title-wrap
					+e.title Обязанности и достижения
				+e.TEXTAREA.input.form-control(name="")
			//-4
			+e.input-wrap.form-group
				+e.inp-row.row
					.col-6
						+e.inp-row.row
							+e.two-title.col-12 Начало работы
							.col-6
								+customSlectDuplicate('month', ['Января', 'Февраля', 'Марта'])
							.col-6
								+customSlectDuplicate('year')
									option 1997
									- for (var i=1998; i <= new Date().getFullYear(); i++)
										option=i
					.col-6
						+e.inp-row.row
							+e.two-title.col-12 Окончание работы
							.col-6
								+customSlectDuplicate('month', ['Января', 'Февраля', 'Марта'])
							.col-6
								+customSlectDuplicate('year')
									option 1997
									- for (var i=1998; i <= new Date().getFullYear(); i++)
										option=i
							.col-12
								+customChbDuplicate('Рассмотрю повышение')
	//- -----
	+customModal('about', 'Обо мне')
		+e.input-wrap.form-group
			+e.title-wrap
				+e.title Расскажите о себе
			+e.TEXTAREA.input.form-control.double(name="" placeholder="Расскажите о себе в нескольких предложениях")
	//- -----
	+customModal('family', 'Семья')
		//-1
		+e.input-wrap.form-group
			+e.inp-row.row.align-items-center
				+e.title-col.col-auto
					+e.title В браке
				.col-auto
					+customRadioDulpicate('Да','family','yes')(checked)
				.col-auto
					+customRadioDulpicate('Нет','family','no')
			+e.inp-row.row.align-items-center
				+e.title-col.col-auto
					+e.title Дети
				.col-auto
					+customRadioDulpicate('Да','kids','yes')(checked)
				.col-auto
					+customRadioDulpicate('Нет','kids','no')
	//---
	+customModal('address', 'Место жительства')
		+e.input-wrap.form-group
			+e.title-wrap
				+e.title Город, улица, дом
			+e.INPUT.input.form-control(type="text" placeholder="Начните вводить" name="")
	//---
	+customModal('prof-skills', 'Профессиональные навыки')
		+e.input-wrap.form-group
			+e.title-wrap
				+e.title Укажите или выберите не более 5 навыков
			+multipleSelect2('prof-skills', undefined, undefined, 'Выберите одну или несколько областей')
				option(selected) Умный
				option(selected) Усидчевый
	//---
	+customModal('common-skills', 'Общие навыки')
		+e.input-wrap.form-group
			+e.title-wrap
				+e.title Укажите или выберите не более 5 навыков
			+multipleSelect2('common-skills', undefined, undefined, 'Выберите одну или несколько областей')
				option(selected) Умный
				option(selected) Усидчевый
	//---
	+customModal('achievements', 'Достижения и награды')
		+e.input-wrap.form-group
			+e.title-wrap
				+e.title Тип достижения
			+customSlectDuplicate('achievement-type', ['Звание', 'placeholder', 'placeholder 2'])
		+e.input-wrap.form-group
			+e.title-wrap
				+e.title Описание достижения
			+e.INPUT.input.form-control(type="text" placeholder="" name="")
			//-+customSlectDuplicate('achievement-descr', ['Звание', 'placeholder', 'placeholder 2'], undefined, 'Описание достижения')
				option(label="#")
				option placeholder 1
				option placeholder 2
				option placeholder 3
	//---
	+customModal('languages', 'Знание языков')
		+e.input-wrap.form-group
			+e.title-wrap
				+e.title Родной язык
			+customSlectDuplicate('mother-lang', ['Русский', 'placeholder', 'placeholder 2'])
			+e.title-wrap
				+e.title Инностранные языки
			+repeatorBl()
				+e.inp-row.row.pb-24
					.col-6
						+customSlectDuplicate('lang', ['Английский', 'Украинский', 'JavaScript'])
					.col-6
						+customSlectDuplicate('lang-lvl', ['А1 - Начальный', 'А2 - Начальный', 'А3 - Начальный', 'B1 - Средний'])
	//---
	+customModal('sience-grade', 'Научная степень')
		+e.repeater.repeator-js
			+e.r-item.r-item-js
				+e.input-wrap.form-group
					+e.title-wrap
						+e.title Научная степень
					+customSlectDuplicate('mother-lang', ['Русский', 'placeholder', 'placeholder 2'], undefined, 'Выберите из списка')
						option(label="#")
						option placeholder 1
						option placeholder 2
						option placeholder 3
			+e.r-add-btn.r-add-btn-js(type='button') Добавить
	//---
	+customModal('training', 'Повышение квалификации')
		+e.repeater.repeator-js
			+e.r-item.r-item-js
				//-
				+e.input-wrap.form-group
					+e.title-wrap
						+e.title Тип повышения квалификации
					+customSlectDuplicate('', ['Русский', 'placeholder', 'placeholder 2'], undefined, 'Дополнительное образование, Стажировка, Мероприятие')
						option(label="#")
						option Дополнительное образование
						option Стажировка
						option Мероприятие
				//-1
				+e.input-wrap.form-group
					+e.title-wrap
						+e.title Наименование
					+e.INPUT.input.form-control(type="text" placeholder="Наименование" name="")
				//-2
				+e.input-wrap.form-group
					+e.title-wrap
						+e.title Год
					+e.INPUT.input.form-control(type="text" placeholder="Введите год" name="")
			+e.r-add-btn.r-add-btn-js(type='button') Добавить
	//---
	+customModal('employer-preferences', 'Предпочтения по работодателю')
		+e.input-wrap.form-group
			+e.title-wrap
				+e.title Форма собственности
			.pb-12
				+customRadioDulpicate('Не важно','owner-type','Не важно')(checked)
				+customRadioDulpicate('Частная','owner-type','Частная')
				+customRadioDulpicate('Государтсвенная','owner-type','Государтсвенная')
				+customRadioDulpicate('Инностранная','owner-type','Инностранная')
		+e.input-wrap.form-group
			+e.title-wrap
				+e.title Численность сотрудников
			.pb-12
				+customRadioDulpicate('До 20','employee-amount','До 20')(checked)
				+customRadioDulpicate('20-100','employee-amount','20-100')
				+customRadioDulpicate('100-300','employee-amount','100-300')
				+customRadioDulpicate('Более 300','employee-amount','Более 300')
	//---
	+customModal('vacancy-preferences', 'Предпочтения по вакансии')
		//-1
		+e.input-wrap.form-group
			+e.title-wrap
				+e.title Готовность к перезду
				+e.secondary Выберите регионы или округа (ПФО)
			+multipleSelect2('common-skills', undefined, undefined, 'Выберите одну или несколько областей')
				option(selected) Москва
			+e.inp-row.row.align-items-center
				.col-md-auto
					+e.secondary Тип населенного пункта
				.col-md
					+e.inp-row.row
						.col-auto
							+customChbDuplicate('Столица субъекта')
						.col-auto
							+customChbDuplicate('Городской')
						.col-auto
							+customChbDuplicate('Сельский')
		+e.input-wrap.form-group
			+e.title-wrap
				+e.title Готовность к командировкам
			.pb-0
				+customRadioDulpicate('Частые','business-trip','Частые')(checked)
				+customRadioDulpicate('Не частые','business-trip','Не частые')
				+customRadioDulpicate('Не готов','business-trip','Не готов')
		+e.input-wrap.form-group
			+e.title-wrap
				+e.title Время на дорогу до работы
			.pb-0
				+customRadioDulpicate('до 30 минут','time-to-work','до 30 минут')(checked)
				+customRadioDulpicate('30 минут - 1 час','time-to-work','30 минут - 1 час')
				+customRadioDulpicate('1-1,5 часа','time-to-work','1-1,5 часа')
				+customRadioDulpicate('более 1,5 часов','time-to-work','более 1,5 часов')
		//-
		+e.input-wrap.form-group
			+e.title-wrap
				+e.title Тип занятости
			.pb-0
				+customChbDuplicate('Полная занятость')
				+customChbDuplicate('Частичная занятость')
				+customChbDuplicate('Проектная работа')
				+customChbDuplicate('Волонтерство')
				+customChbDuplicate('Стажировка')
		//-
		+e.input-wrap.form-group
			+e.title-wrap
				+e.title График работы
			.pb-0
				+customChbDuplicate('Полный день')
				+customChbDuplicate('Сменный график')
				+customChbDuplicate('Гибкий график')
				+customChbDuplicate('Удаленная работа')
				+customChbDuplicate('Вахтовый метод')
		//-
		+e.input-wrap.form-group
			+e.title-wrap
				+e.title Условия оказание медицинской помощи
			.pb-0
				+customChbDuplicate('Амбулаторно')
				+customChbDuplicate('В дневном стационаре')
				+customChbDuplicate('Стационарно')
				+customChbDuplicate('Прочие')
		+e.input-wrap.form-group
			+e.title-wrap
				+e.title Ночные дежурства
			.pb-0
				+customRadioDulpicate('Не важно','night-shifts','Не важно')(checked)
				+customRadioDulpicate('Да','night-shifts','Да')
				+customRadioDulpicate('Нет','night-shifts','Нет')
	//---
	+customModal('articles', 'Статьи')
		+e.repeater.repeator-js
			+e.r-item.r-item-js
				//-
				+e.input-wrap.form-group
					+e.title-wrap
						+e.title Название статьи
					+e.INPUT.input.form-control(type="text" placeholder="Введите название статьи" name="")
				//-
				+e.input-wrap.form-group
					+e.title-wrap
						+e.title Год релиза статьи
					+e.INPUT.input.form-control(type="text" placeholder="Введите год релиза статьи" name="")
				//-
				+e.input-wrap.form-group
					+e.title-wrap
						+e.title Наименование журнала
					+e.INPUT.input.form-control(type="text" placeholder="Наименование журнала" name="")
				//-
				+e.input-wrap.form-group
					+e.title-wrap
						+e.title Номер журнала
					+e.INPUT.input.form-control(type="text" placeholder="Введите номер журнала" name="")
				//-
				+e.input-wrap.form-group
					+e.title-wrap
						+e.title Номера страниц
					+e.INPUT.input.form-control(type="text" placeholder="Введите номера страниц" name="")
			+e.r-add-btn.r-add-btn-js(type='button') Добавить
	//---
	+customModal('prof-communities', 'Профессиональные сообщества')
		+e.repeater.repeator-js
			+e.r-item.r-item-js
				//-
				+e.input-wrap.form-group
					+e.title-wrap
						+e.title Наименование
					+e.INPUT.input.form-control(type="text" placeholder="Введите наименование" name="")
				//-
				+e.input-wrap.form-group
					+e.title-wrap
						+e.title Год
					+e.INPUT.input.form-control(type="text" placeholder="Введите год" name="")
			+e.r-add-btn.r-add-btn-js(type='button') Добавить
	//---
	+customModal('automobile', 'Автомобиль')
		+e.input-wrap.form-group
			+e.title-wrap
				+e.title Категория прав
			+e.inp-row.row
				.col-auto
					+customChbDuplicate('A')
				.col-auto
					+customChbDuplicate('B')
				.col-auto
					+customChbDuplicate('C')
				.col-auto
					+customChbDuplicate('D')
				.col-auto
					+customChbDuplicate('E')
		+e.input-wrap.form-group
			+e.title-wrap
				+e.title Наличие автомобиля
			.d-block
				+customChbDuplicate('Есть личный автомобиль')
	//---
	+customModal('bonuses', 'Бонусы в работе')
		+e.title-wrap
			+e.title Выберите из списка
			.d-block
				+customChbDuplicate('ДМС или медицинское обслуживание')
				+customChbDuplicate('Комфортные условия труда')
				+customChbDuplicate('Современное медицинское оборудование')
				+customChbDuplicate('Возможности внутреннего совместительства')
				+customChbDuplicate('Обучение и развитие за счет компании')
				+customChbDuplicate('Фитнес')
				+customChbDuplicate('Премии и бонусы')
				+customChbDuplicate('Программа Земский доктор или фельдшер')
				+customChbDuplicate('Предоставление жилья')
				+customChbDuplicate('Предоставление субсидий для переезда')
	//---
	+customModal('education', 'Образование')
		+e.repeater.repeator-js
			+e.r-item.r-item-js
				//-
				+e.input-wrap.form-group
					+e.title-wrap
						+e.title Страна
					+customSlectDuplicate('country', ['Россия', 'Февраля', 'Марта'], undefined, 'Выберите из списка')
				//-
				+e.input-wrap.form-group
					+e.title-wrap
						+e.title Город
					+customSlectDuplicate('city', ['Lviv', 'New-York', 'Berlin', 'Say Hey'], undefined, 'Выберите из списка')
				//-
				+e.input-wrap.form-group
					+e.title-wrap
						+e.title Наименование учебного заведения
					+e.INPUT.input.form-control(type="text" placeholder="Название или аббревиатура" name="")
				//-
				+e.input-wrap.form-group
					+e.title-wrap
						+e.title Факультет
					+e.INPUT.input.form-control(type="text" placeholder="Факультет" name="")
				//-
				+e.input-wrap.form-group
					+e.title-wrap
						+e.title Специальность
					+e.INPUT.input.form-control(type="text" placeholder="Специальность" name="")
				//-
				+e.input-wrap.form-group
					+e.title-wrap
						+e.title Форма обучения
					+customSlectDuplicate('city', ['Lviv', 'New-York', 'Berlin', 'Say Hey'], undefined, 'Форма обучения')
						option Очная
						option Очно-заочная
						option Заочная
						option Экстернат
						option Дистанционная
				//-
				+e.input-wrap.form-group
					+e.title-wrap
						+e.title Форма обучения
					+customSlectDuplicate('city', [''], undefined, 'Форма обучения')
						option Не выбран
						option Абитуриент
						option Студент (специалист)
						option Студент (Бакалавр)
						option Студент (Магистр)
						option Выпускник (специалист)
						option Выпускник (Бакалавр)
						option Выпускник (Магистр)
						option Аспирант
						option Кандидат наук
						option Доктор наук
						option Интерн
						option Клинический ординатор
						option Ассистент-стажер
						option докторант
						option Адъюнкт
				//-
				+e.input-wrap.form-group
					+e.title-wrap
						+e.title Год окончания
					+e.inp-row.row
						.col-md-6
							+e.INPUT.input.form-control(type="text" placeholder="Год окончания" name="")
						.col-md-6
							+e.secondary Если учитесь в настоящее время — укажите год предполагаемого окончания
			+e.r-add-btn.r-add-btn-js(type='button') Добавить

	// end modals

mixin repeatorBl()
	+e.repeater.repeator-js
		+e.r-item.r-item-js
			block
			+repeatorRemove()
		+e.r-item.r-item-js
			block
			+repeatorRemove()
		+e.r-add-btn.r-add-btn-js(type='button') Добавить

mixin repeatorRemove()
	+e.remove-item.r-remove-item-js
		+e.r-btn(href='#')
			+e.r-ball
				+icon('cross')
			+e.ri-txt Удалить

mixin customModal(modalId='place-id', title='Условия работы')
	+b.custom-modal--js(id=modalId)
		+e.inner
			+e.close.close-cm-js
			+e.content.cm-content-js
				+e.cross-btn.close-cm-js
					img(loading="lazy" src='img/svg/custom-modal-close.svg' alt="")
				+form-wrap()
					+e.main-title=title
					block
					+e.foot-row.row
						.col-6.col-sm-auto
							+e.cancel-btn.close-cm-js Отменить
						.col-6.col-sm-auto
							+e.save-btn(type="submit") Сохранить изменения

mixin customChbDuplicate(txt)
	+b.LABEL.custom-chb
		input(type="checkbox" class="d-none" name="name")&attributes(attributes)
		span.square
		span.txt=txt

mixin customSlectDuplicate(selectName, optionsArr=['услуга 1', 'очень очень долгая услуга услуга 2', 'очень долгая услуга'], keyClass='default-select-js', dataPlaceholder='')
	+b.custom-select&attributes(attributes)
		select(name=selectName class=keyClass data-placeholder=dataPlaceholder)
			if block
				block
			else
				- for (let item of optionsArr)
					option(value=item)=item

mixin multipleSelect2(selectName, optionsArr=['Супер длинное такое чтоб в 2 строки, чтоб 100 пудов, и еще чуть чуть текста', 'качество 1', 'качество 2', 'качество 3', 'качество 4', 'качество 5'], keyClass='prof-slect2-js', dataPlaceholder)
	+b.multiple-select
		select(name=selectName class=keyClass multiple='multiple' data-placeholder=dataPlaceholder)
			option(value="" label='#')
			//option(selected) Умный
			//option(selected) Усидчевый
			if block
				block
			else
			- for (let item of optionsArr)
				option(value=item)=item

mixin customRadioDulpicate(txt, name, val)
	+b.LABEL.custom-radio
		input(type="radio" class="invisible" name=name value=val)&attributes(attributes)
		span.circle
		span.txt=txt