mixin sCurriculum(data)
	// start sCurriculum
	+b.sCurriculum#sCurriculum&attributes(attributes)
		block

	// end sCurriculum

mixin dataBox(data)
	+b.data-box.sCurriculum__box
		+e.row.row
			+e.img-col.col-xxl-auto
				+e.sub-row.row.align-items-center
					.col-auto
						+e.img
							img(loading="lazy" src=`img/${data.imgPass}` alt="")
					.col
						+e.name-box
							+e.name.mb-12.mb-md-0.d-xl-none Контстантинопольский Контстантин Александрович
							+b.edit-btn(href='#')
								+icon('pencil')
								span Редактировать
			.col-xl
				+e.name.d-none.d-xl-block.mb-24 Ишметов Михаил Сергеевич
				+e.data-items
					- for (let item of data.dataItems)
						+nDataItem(item.key, item.val)
					//- soc
					+e.data-item.row
						+e.key-col.col-auto Социальные профили
						if data.soc
							+e.val-col.col
								+b.cv-soc
									+e.row.row.gy-1
										+cvSocCol('vk')
										+cvSocCol('fb')
										+cvSocCol('in')
										+cvSocCol('tg')
										+cvSocCol('ok')
										+cvSocCol('tw')
										+cvSocCol('gpls')
						else
							+e.val-col.col Не указаны

mixin cvSocCol(imgNum)
	.col-auto
		+e.item(href='#')
			img(loading="lazy" src=`img/svg/cv-soc-${imgNum}.svg` alt="")

mixin nDataItem(key='keyIsMissing', val)
	+e.data-item.row
		+e.key-col.col-auto=key
		if val
			+e.val-col.col=val
		else
			+e.val-col.col Не указан


mixin addBox(data)
	+b.add-box.sCurriculum__box
		+e.title Добавить информацию в мое резюме
		+e.descr Укажите дополнительную информацию в своем резюме, чтобы интеллектуальная подборка могла подобрать для вас наиболее подходящие вакансии.
		+e.row.row
			if block
				block
			else
				+addBoxItem(1, 'Условия работы', '+17%', '#work-conditions')
				+addBoxItem(2, 'Опыт работы', '+12%', '#experience')
				+addBoxItem(3, 'Образование', '+18%', '#education')
				+addBoxItem(4, 'Обо мне', '+13%', '#about')
				+addBoxItem(5, 'Семья', '+6%', '#family')
				+addBoxItem(6, 'Место жительства', '+6%', '#address')
				+addBoxItem(7, 'Профессиональные навыки', '+15%', '#prof-skills')
				+addBoxItem(8, 'Общие навыки', '+15%', '#common-skills')
				+addBoxItem(9, 'Достижения и награды', '+7%', '#achievements')
				+addBoxItem(10, 'Знание языков', '+15%', '#languages')
				+addBoxItem(11, 'Научная степень', '+5%', '#sience-grade')
				+addBoxItem(12, 'Повышение квалификации', '+5%', '#training')
				+addBoxItem(13, 'Предпочтения по работодателю', '+5%', '#employer-preferences')
				+addBoxItem(14, 'Предпочтения по вакансии', '+5%', '#vacancy-preferences')
				+addBoxItem(15, 'Статьи', '+5%', '#articles')
				+addBoxItem(16, 'Профессиональные сообщества', '+5%', '#prof-communities')
				+addBoxItem(17, 'Автомобиль', '+5%', '#automobile')
				+addBoxItem(19, 'Бонусы в работе', '+5%', '#bonuses')
			//-+addBoxItem()

mixin addBoxItem(imgNum, black, blue, href='#')
	+e.col.col-6.col-md-auto
		+e.item.custom-modal-link-js(href=href)
			+e.img
				img(loading="lazy" src=`img/@2x/add-box-item-${imgNum}.png` alt="")
			+e.txt
				span.black=black
				span.blue=blue

mixin completeBox()
	+b.complete-box.sCurriculum__box.d-xxl-none
		+e.title Заполненность резюме
		+e.descr Чем больше информации вы укажите в своем резюме, тем эффективнее интеллектуальная подборка сможет подобрать для вас подходящие вакансии.
		+completeStrip('67%')

mixin completeStrip(percentage)
	+b.complete-strip&attributes(attributes)
		+e.line-cont
			+e.line(style=`width: ${percentage};`)
		+e.number=percentage

mixin tableBox(data)
	+b.table-box.sCurriculum__box
		+e.header-row.row.align-items-center(class=data.addHRowClasses)
			.col
				+e.title-row.row.align-items-center
					.col-auto
						+e.img
							img(loading="lazy" src=`img/@2x/add-box-item-${data.imgNum}.png` alt="")
					.col
						+e.h-title=data.title
			.col-auto
				+b.edit-btn(href='#')
					+icon('pencil')
					span Редактировать
		+e.table
			if block
				block
			else
				+tableBoxItem('Желаемая должность','Врач-хирург')
					.col-auto
						+e.txt-val Врач-хирург
					.col-auto
						+e.plate--check Рассмотрю повышение
				+tableBoxItem('Желаемая заработная плата','150 000 ₽')
				+tableBoxItem('Приемлемая (минимальная) заработная плата','300 000 ₽')
				+tableBoxItem('Профобласть')
					.col-auto
						+e.plate Хирургия
					.col-auto
						+e.plate Хирургическая терапия

mixin tableBoxItem(title, txtVal)
	+e.t-row.row.gy-2.align-items-center
		.col-md-6.col-xxl-5.col-base-6
			+e.title=title
		.col-md-6.col-xxl-7.col-base-6
			+e.sub-row.row.align-items-center.gy-1
				if block
					block
				else
					.col-auto
						+e.txt-val=txtVal

mixin tableBoxExpItem()
	+b.exp-item
		+e.row.row.align-items-center
			.col-auto
				+e.plate Врач-хирург
			.col
				+e.place УК Медгард
			.col-12
				+e.regular Февраль, 2017 — по настоящее время
			.col-12
				+e.secondary 3 года, 6 месяцев
			.col-12
				+e.regular Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона

mixin tableBoxEducationItem()
	+b.exp-item
		+e.row.row.align-items-center
			.col-auto
				+e.plate Выпускник (Магистр)
			.col-12
				+e.regular Россия, г. Москва, Московский Государственный Университет
			.col-12
				+e.secondary Факультет хирургии, Специальность
			.col-12
				+e.regular Очное отделение
			.col-12
				+e.secondary 2020

mixin cvSkill(txt)
	.col-auto
		+e.cv-skill=txt

mixin tableBoxAchivementItem()
	+b.exp-item
		+e.row.row.align-items-center
			.col-auto
				+e.plate Звание
			.col-12
				+e.regular Заслуженный врач Российской Федерации 2014

mixin tableBoxArticleItem()
	+b.exp-item
		+e.row.row.align-items-center
			.col-12
				+e.regular Название статьи, год релиза
			.col-12
				+e.secondary Наименование журнала
			.col-12
				+e.regular Номер журнала
			.col-12
				+e.secondary Номера страниц

mixin tableBoxEventsItem()
	+b.exp-item
		+e.row.row.align-items-center
			.col-auto
				+e.secondary Наименование мероприятия
			.col-12
				+e.regular Год проведения

mixin tableBoxUnionsItem()
	+b.exp-item
		+e.row.row.align-items-center
			.col-auto
				+e.secondary Наименование мероприятия
			.col-12
				+e.regular Год проведения

mixin tableBoxQualItem()
	+b.exp-item
		+e.row.row.align-items-center
			.col-auto
				+e.plate Стажировка
			.col-12
				+e.regular Наименование стажировки
			.col-12
				+e.secondary 2019