mixin sProfileN(data)
	// start sProfileN
	+b.SECTION.sProfileN.section#sProfileN&attributes(attributes)
		.container-fluid
			+e.row.row.row--mb
				.col-xlg-auto
					+lSidebarN()
				.col-xlg
					.center-block
						+e.title-row.row.row--mb.align-items-center
							.col
								+e.H1.title Настройки профиля
							//-.col-12
							//-	+e.look(href='#') Как выглядит мой профиль
							.col-12
								+profileNBox('Личные данные', 'box-1')
									+e.b-col-pd.col-xl-auto
										+input('', 'text', 'Фамилия', 'surname')(value="Ишметов")
										+input('', 'text', 'Имя', 'name')(value="Михаил")
										+input('', 'text', 'Отчество', 'father-name')(value="Сергеевич")
									+e.port-col.col-auto.ms-auto
										+e.b-portrait(href='#')
											img(loading="lazy" src="img/svg/sm-portrait-stab.svg" alt="")
										+e.b-change(href='#')
											+e.b-change-img
												img(loading="lazy" src="img/svg/cloud.svg" alt="")
											span Заменить
									+e.b-col-pd--base.col-xl-auto
										//-radio
										+e.input-wrap--no-lab
											+e.input-title Пол
											+e.inps-row.row.radio-row
												.col-auto
													+customRadio('Мужской','male','man')(checked)
												.col-auto
													+customRadio('Женский','male','woman')
										//-birth
										+e.input-wrap--no-lab
											+e.input-title Дата рождения
											+e.inps-row.row
												.col-auto
													+e.INPUT.input.day-inp.form-control(type="number" value='22' min='1' max='31')
												.col
													+customSlect('month', ['Января','Февраля','Марта'])
												.col
													+customSlect('year')
														option 1997
														- for (var i=1998; i <= new Date().getFullYear(); i++)
															option=i
										+e.input-wrap--no-lab
											+e.input-title Город проживания
											+e.inps-row.row
												.col-12
													+customSlect('city', ['Самара','Самара2','Самара2'])
										+input('', 'email', 'Email')(value="arts.man@mail.ru")
										+input('', 'tel', 'Телефон')(value="+79198112848")
										//-radio
										+e.input-wrap--no-lab
											+e.input-title Статус на сайте
											+e.inps-row.row.radio-row
												.col-auto
													+customRadio('Ищу работу','work-looking-status','Ищу работу')(checked)
												.col-auto
													+customRadio('Не рассматриваю','work-looking-status','Не рассматриваю')
									+e.btn-col.col-12
										+e.save-btn(type="submit") Сохранить изменения
							.col-12
								+profileNBox('Безопасность', 'box-2', 'pt-12 pt-md-0')
									+e.pass-col.col-base
										//-1
										+e.input-wrap.form-group
											label
												+e.SPAN.input-title.reuire Текущий пароль
												+e.SPAN.inp-cont
													+e.INPUT.input.form-control(type="password" required name="current-pass" placeholder="Введите текущий пароль")
													+e.show-hide-btn.toggle-pass-inp-js
														+icon('pass-eye')
										//-2
										+e.input-wrap.form-group
											label
												+e.SPAN.input-title.reuire Новый пароль
												+e.SPAN.inp-cont
													+e.INPUT.input.form-control(type="password" required name="new-pass" placeholder="Введите новый пароль")
													+e.show-hide-btn.toggle-pass-inp-js
														+icon('pass-eye')
										//-3
										+e.input-wrap.form-group
											label
												+e.SPAN.input-title.reuire Новый пароль
												+e.SPAN.inp-cont
													+e.INPUT.input.form-control(type="password" required name="new-pass-repeat" placeholder="Повторите новый пароль")
													+e.show-hide-btn.toggle-pass-inp-js
														+icon('pass-eye')
									+e.hint-col.col-base-auto
										+e.h-title Пароль должен содержать:
										+e.UL.h-list
											li хотя бы одну цифру (0-9)
											li хотя бы одну латинскую строчную букву (a-z)
											li хотя бы одну латинскую прописную букву (A-Z)
											li 6 знаков и более
									+e.btn-col--security.col-12
										+e.save-btn.muted(type="submit") Сохранить изменения
							.col-12
								+profileNBox('Социальные профили', 'box-3')(class="row--mb soc-row")
									+socProfieItem('fb')
									+socProfieItem('vk')
									+socProfieItem('inst')
									+socProfieItem('tg')
									+socProfieItem('ok')
									+socProfieItem('tw')
									+socProfieItem('gpl')
									//active items
									+socProfieItem('fb', 'has-dell-link', true)(style="background-color: #2D88FF;")
									+socProfieItem('vk', 'has-dell-link', true)(style="background-color: #2787F5;")
									+socProfieItem('inst', 'has-dell-link', true)(style="background-color: #E05496;")
									+socProfieItem('tg', 'has-dell-link', true)(style="background-color: #2EA3E6;")
									+socProfieItem('ok', 'has-dell-link', true)(style="background-color: #EE8208;")
									+socProfieItem('tw', 'has-dell-link', true)(style="background-color: #1DA1F2;")
									+socProfieItem('gpl', 'has-dell-link', true)(style="background-color: #DB4A39;")
							.col-12
								+profileNBox('Настройка уведомлений', 'box-4')
									.col-12
										+e.chb-title СМС-Уведомления
										+customChbGroup(['Уведомления о приглашениях на вакансии','Напоминание о собеседовании'])
										+e.chb-title PUSH-уведомления
										+customChbGroup(['Просмотры','Вакансии','Приглашения','Рекомендации'])
										+e.chb-title Почтовые рассылки
										+customChbGroup([
											'Советы по эффективному поиску работы',
											'Акции сайта для соискателей',
											'Анонсы мероприятий для соискателей',
											'Предложения наших партнеров для соискателей',
											'Уведомления от работодателей',
											'Вакансии, которые могут быть вам интересны',
											'Полезные новости и опросы для соискателей',
											'Вакансии по вашей подписке',
											'Напоминание о собеседовании'
										])
									+e.btn-col.pt-md-15.pt-xl-25.col-12
										+e.save-btn(type="submit") Сохранить изменения
				.col-xlg-auto.d-none.d-xlg-block
					+asideMenu()
	// end sProfileN

mixin customSlect(selectName, optionsArr=['услуга 1', 'очень очень долгая услуга услуга 2', 'очень долгая услуга'], keyClass='default-select-js', addContClasses)
	+b.custom-select(class=addContClasses)
		select(name=selectName class=keyClass)&attributes(attributes)
			if block
				block
			else
				- for (let item of optionsArr)
					option(value=item)=item

mixin asideMenu()
	+e.aside-menu.aside-menu-js
		if block
			block
		else
			ul
				li: a.active(href='#box-1') Личные данные
				li: a(href='#box-2') Безопасность
				li: a(href='#box-3') Социальные профили
				li: a(href='#box-4') Настройка уведомлений

mixin socProfieItem(iconName, addClasses='', del=false)
	.col-auto
		+e.soc-item(class=addClasses)
			+e.s-icon(href="#")&attributes(attributes)
				+icon(`soc-${iconName}`)
			if del
				+e.s-link(href="#") Удалить
			else
				+e.s-link.link-modal(href=`#add-soc-${iconName}`) Добавить

mixin customRadio(txt, name, val)
	+b.LABEL.custom-radio
		input(type="radio" class="invisible" name=name value=val)&attributes(attributes)
		span.circle
		span.txt=txt

mixin profileNBox(title, boxId, titleClasses)
	+e.box.sidebar-box-js(id=boxId)
		+form-wrap
			+e.b-title(class=titleClasses)=title
			+e.b-row.row&attributes(attributes)
				block

mixin lSidebarN()
	+b.l-side-menu
		+e.slider-wrap
			.swiper-container.sidebar-slider-js
				.swiper-wrapper
					if block
						block
					else
						+lSidebarSlide(1,'Мой кабинет')
						+lSidebarSlide(2,'Мое резюме')
						+lSidebarSlide(3,'Настройки профиля')(class='active')
						+lSidebarSlide(10,'Мои отклики')
						+lSidebarSlide(4,'Подборка вакансий')
						+lSidebarSlide(11,'Избранные вакансии')

mixin lSidebarSlide(imgNum, txt)
	.swiper-slide
		//-.sidebar-item-js
		+e.item(href="#")&attributes(attributes)
			+e.icon
				+icon(`side-mnu-${imgNum}`)
			+e.txt=txt
			//-+e.tracker.sidebar-trakcer-js
			//-+e.ball--1.sidebar-ball-js
			//-+e.ball--2.sidebar-ball-js

mixin sProfileNEmpty(data)
	// start sProfileN
	+b.SECTION.sProfileN.section#sProfileN&attributes(attributes)
		.container-fluid
			+e.row.row.row--mb
				.col-xlg-auto
					+lSidebarN()
						+lSidebarSlide(1,'Мой кабинет')
						+lSidebarSlide(2,'Мое резюме')
						+lSidebarSlide(3,'Настройки профиля')
						if data.feedBackSidebar
							+lSidebarSlide(10,'Мои отклики')(class='active')
						else
							+lSidebarSlide(10,'Мои отклики')
						+lSidebarSlide(4,'Подборка вакансий')
						if data.chosenSidebar
							+lSidebarSlide(11,'Избранные вакансии')(class='active')
						else
							+lSidebarSlide(11,'Избранные вакансии')
				+e.content-col.col-xlg
					.center-block
						+e.title-row.row.row--mb.align-items-center
							.col
								+e.H1.title=data.title
							.col-12
								block

mixin sProfileNCv(data)
	// start sProfileN
	+b.SECTION.sProfileN.section#sProfileN&attributes(attributes)
		.container-fluid
			+e.row.row.row--mb
				.col-xlg-auto
					+lSidebarN()
						+lSidebarSlide(1,'Мой кабинет')
						+lSidebarSlide(2,'Мое резюме')(class='active')
						+lSidebarSlide(3,'Настройки профиля')
						+lSidebarSlide(10,'Мои отклики')
						+lSidebarSlide(4,'Подборка вакансий')
						+lSidebarSlide(11,'Избранные вакансии')
				+e.content-col.col-xlg
					.center-block
						+e.title-row.row.row--mb.align-items-center
							.col
								+e.H1.title=data.title
							.col-12
								block
				.col-xlg-auto.d-none.d-xlg-block
					+asideMenuCv()
						+b.hint-row.row.mb-12
							+e.title.col-auto Заполненность резюме
							.col
								+e.quest-sign
									+icon('q-sign')
									+e.hint-cont
										+e.hint Чем больше информации вы укажите в своем резюме, тем эффективнее интеллектуальная подборка сможет подобрать для вас подходящие вакансии.
						+completeStrip('10%')(class="mb-24")

mixin asideMenuCv()
	+e.aside-menu--static.aside-menu-js
		.d-block
			block
			ul
				//+asideMenuCvItem('Основная информация', '#work-conditions')
				li: a.scroll-top-js(href="#") Основная информация
				+asideMenuCvItem('Условия работы', '#work-conditions')
				+asideMenuCvItem('Опыт работы', '#experience')
				+asideMenuCvItem('Образование', '#education')
				+asideMenuCvItem('Обо мне', '#about')
				+asideMenuCvItem('Семья', '#family')
				+asideMenuCvItem('Место жительства', '#address')
				+asideMenuCvItem('Профессиональные навыки', '#prof-skills')
				+asideMenuCvItem('Общие навыки', '#common-skills')
				+asideMenuCvItem('Достижения и награды', '#achievements')
				+asideMenuCvItem('Знание языков', '#languages')
				+asideMenuCvItem('Научная степень', '#sience-grade')
				+asideMenuCvItem('Повышение квалификации', '#training')
				+asideMenuCvItem('Предпочтения по работодателю', '#employer-preferences')
				+asideMenuCvItem('Предпочтения по вакансии', '#vacancy-preferences')
				+asideMenuCvItem('Статьи', '#articles')
				+asideMenuCvItem('Профессиональные сообщества', '#prof-communities')
				+asideMenuCvItem('Автомобиль', '#automobile')
				+asideMenuCvItem('Бонусы в работе', '#bonuses')

mixin asideMenuCvItem(txt, linkHref)
	li: a.custom-modal-link-js(href=linkHref)=txt

mixin scrollTopBtn()
	+b.scroll-top-btn--js
		+e.ball
			+icon('chevron-top')
		+e.txt.d-none.d-xl-block Наверх

mixin sProfileNCompilation()
	// start sProfileN
	+b.SECTION.sProfileN.section#sProfileN&attributes(attributes)
		.container-fluid
			+e.row.row.row--mb
				.col-xlg-auto
					+lSidebarN()
						+lSidebarSlide(1,'Мой кабинет')
						+lSidebarSlide(2,'Мое резюме')
						+lSidebarSlide(3,'Настройки профиля')
						+lSidebarSlide(10,'Мои отклики')
						+lSidebarSlide(4,'Подборка вакансий')(class='active')
						+lSidebarSlide(11,'Избранные вакансии')
				+e.content-col.col-xlg
					.center-block
						block

mixin sProfileNMyCab()
	// start sProfileN
	+b.SECTION.sProfileN.section#sProfileN&attributes(attributes)
		.container-fluid
			+e.row.row.row--mb
				.col-xlg-auto
					+lSidebarN()
						+lSidebarSlide(1,'Мой кабинет')(class='active')
						+lSidebarSlide(2,'Мое резюме')
						+lSidebarSlide(3,'Настройки профиля')
						+lSidebarSlide(10,'Мои отклики')
						+lSidebarSlide(4,'Подборка вакансий')
						+lSidebarSlide(11,'Избранные вакансии')
				+e.content-col.col-xlg
					.center-block
						block

mixin sProfileNCreator(data)
	// start sProfileN
	//-028
	+b.SECTION.sProfileN.section#sProfileN&attributes(attributes)
		.container-fluid
			+e.row.row.row--mb
				.col-xlg-auto
					+lSidebarN()
						+lSidebarSlide(7,'Мой кабинет')
						+lSidebarSlide(8,'Мои вакансии')
						+lSidebarSlide(9,'Настройки профиля')(class='active')
						+lSidebarSlide(10,'Отклики')
				.col-xlg
					.center-block
						+e.title-row.row.row--mb.align-items-center
							.col
								+e.H1.title Настройки профиля
							.col-12
								+profileNBox('Об организации', 'box-1')
									+e.b-col-pd.col-xl-auto
										+input('E-mail при регистрации', 'email', 'E-mail при регистрации', 'reg-mail')
										+input('Наименование организации', 'text', 'Наименование организации', 'name')
										+e.input-wrap--no-lab
											+e.input-title Город
											+e.inps-row.row
												.col-12
													+customSlect('', ['Самара', 'Самара2', 'Самара2'])(data-placeholder='Выберите город')
														option(value="" label='#')
														option(value="Самара") Самара
														option(value="Самара2") Самара2
									+e.port-col--square.col-auto.ms-auto
										+e.b-portrait--suare.--empty(href='#')
											img(loading="lazy" src="img/svg/company-stab5.svg" alt="")
										+e.b-change(href='#')
											+e.b-change-img
												img(loading="lazy" src="img/svg/cloud.svg" alt="")
											span Заменить
									+e.b-col-pd--base.col-xl-auto
										+input('Введите адрес', 'text', 'Адрес')
										+e.input-wrap--no-lab
											+e.input-title Форма собственности компании
											+e.inps-row.row
												.col-12
													+customSlect('', ['Самара', 'Самара2', 'Самара2'])(data-placeholder='Выберите из списка')
														option(value="" label='#')
														option(value="Самара") Самара
														option(value="Самара2") Самара2
										+input('Введите адрес сайта', 'text', 'Сайт')
										//-def here
										+e.input-wrap--no-lab
											+e.input-title Дата рождения
											+e.inps-row.row
												.col-auto
													+e.INPUT.input.day-inp.form-control(type="number" value='22' min='1' max='31')
												.col
													+customSlect('month', ['Января', 'Февраля', 'Марта'])
												.col
													+customSlect('year')
														option 1997
														- for (var i=1998; i <= new Date().getFullYear(); i++)
															option=i
										+input('Введите описание организации', 'textarea', 'Описание организации')
										//-here
										+e.input-wrap--no-lab
											+e.input-title Фотографии
											+e.inps-row.row.gy-18
												.col-12
													+galeryLoad()
													+e.r-hint.pt-12.active Фотографии отделения, интерьера или оборудования повышают доверие и интерес к вашей вакансии.
										+e.input-wrap--no-lab
											+e.input-title Профили в социальных сетях
											+e.inps-row.row.gy-18
												+socInput('https://facebook.com/', 'fb')
												+socInput('https://vk.com/', 'vk')
												+socInput('https://facebook.com/', 'in')
												+socInput('https://t.me/', 'tg')
												+socInput('https://ok.ru/', 'ok')
												+socInput('https://twitter.com/', 'tw')
										//-+e.input-wrap--no-lab.align-items-start
											+e.input-title Описание организации
											+e.inps-row.row
												.col-12
													+e.TEXTAREA.input.form-control(placeholder="Введите описание организации")
									+e.btn-col.col-12
										+e.save-btn(type="submit") Сохранить изменения
							.col-12
								+profileNBox('Контактное лицо', 'box-2', 'pt-12 pt-md-0')
									+e.b-col-pd--base.col-xl-auto
										+input('Введите телефон', 'tel', 'Контактный телефон')
										+input('Контактный e-mail', 'email', 'Введите e-mail')
									+e.btn-col.col-12
										+e.save-btn.muted(type="submit") Сохранить изменения
							.col-12
								+profileNBox('Безопасность', 'box-2', 'pt-12 pt-md-0')
									+e.pass-col.col-base
										//-1
										+e.input-wrap.form-group
											label
												+e.SPAN.input-title.reuire Текущий пароль
												+e.SPAN.inp-cont
													+e.INPUT.input.form-control(type="password" required name="current-pass" placeholder="Введите текущий пароль")
													+e.show-hide-btn.toggle-pass-inp-js
														+icon('pass-eye')
										//-2
										+e.input-wrap.form-group
											label
												+e.SPAN.input-title.reuire Новый пароль
												+e.SPAN.inp-cont
													+e.INPUT.input.form-control(type="password" required name="new-pass" placeholder="Введите новый пароль")
													+e.show-hide-btn.toggle-pass-inp-js
														+icon('pass-eye')
										//-3
										+e.input-wrap.form-group
											label
												+e.SPAN.input-title.reuire Новый пароль
												+e.SPAN.inp-cont
													+e.INPUT.input.form-control(type="password" required name="new-pass-repeat" placeholder="Повторите новый пароль")
													+e.show-hide-btn.toggle-pass-inp-js
														+icon('pass-eye')
									+e.hint-col.col-base-auto
										+e.h-title Пароль должен содержать:
										+e.UL.h-list
											li хотя бы одну цифру (0-9)
											li хотя бы одну латинскую строчную букву (a-z)
											li хотя бы одну латинскую прописную букву (A-Z)
											li 6 знаков и более
									+e.btn-col--security.col-12
										+e.save-btn.muted(type="submit") Сохранить изменения
							.col-12
								+profileNBox('Реквизиты', 'box-4')
									+e.b-col-pd--base.col-xl-auto
										+input('Введите ИНН', 'text', 'ИНН')
										+input('Введите юридическое наименование', 'text', 'Юридическое наименование')
										+input('Введите юридический адрес', 'text', 'Юридический адрес')
										+input('Введите расчетный счет', 'text', 'Расчетный счет')
										+input('БИК банка', 'text', 'Введите БИК банка')
										+input('Введите корреспондентский счет', 'text', 'Корреспондентский счет')
									+e.btn-col.col-12
										+e.save-btn.muted(type="submit") Сохранить изменения
				.col-xlg-auto.d-none.d-xlg-block
					+asideMenu()
						ul
							li: a.active(href='#box-1') Об организации
							li: a(href='#box-2') Контактное лицо
							li: a(href='#box-3') Безопасность
							li: a(href='#box-4') Реквизиты
						+e.how-btn(href='#') Как выглядит профиль

mixin socInput(placeholder, iconName)
	.col-12
		+e.soc-inp-box
			+e.INPUT.input--soc-inp.form-control(type="text" placeholder=placeholder)
			+e.icon
				img(loading="lazy" src=`img/svg/soc-inp-${iconName}.svg` alt="")

mixin sProfileNCreatorVac(data)
	// start sProfileN
	+b.SECTION.sProfileN.section#sProfileN&attributes(attributes)
		.container-fluid
			+e.row.row.row--mb
				.col-xlg-auto
					+lSidebarN()
						+lSidebarSlide(7,'Мой кабинет')
						+lSidebarSlide(8,'Мои вакансии')(class='active')
						+lSidebarSlide(9,'Настройки профиля')
						+lSidebarSlide(10,'Отклики')
				+e.content-col.col-xlg
					.center-block
						+e.title-row.row.row--mb.align-items-center
							.col
								+e.H1.title=data.title
							.col-auto
								+e.place-vac(href='#')
									+e.pv-ball
										+icon('vac-plus')
									span Разместить вакансию
							.col-12
								block

mixin sProfileNCreatorVacNew(data)
	// start sProfileN
	+b.SECTION.sProfileN.section#sProfileN&attributes(attributes)
		.container-fluid
			+e.row.row.row--mb
				.col-xlg-auto
					+lSidebarN()
						+lSidebarSlide(7,'Мой кабинет')
						+lSidebarSlide(8,'Мои вакансии')(class='active')
						+lSidebarSlide(9,'Настройки профиля')
						+lSidebarSlide(10,'Отклики')
				+e.content-col.col-xlg
					.center-block
						+e.title-row.row.row--mb.align-items-center
							.col.col-md-auto
								+e.H1.title=data.title
							.col-md.order-last.order-md-0
								+e.btns-row.row
									+creatorTabBtn('Все', 'active')
									+creatorTabBtn('Активные')
									+creatorTabBtn('Черновик')
									+creatorTabBtn('Архив')
							.col-auto
								+e.place-vac(href='#')
									+e.pv-ball
										+icon('vac-plus')
									span Разместить вакансию
							.col-12.order-last
								block

mixin creatorTabBtn(txt, addClasses='')
	.col-auto
		+e.tabs-btn(class=addClasses href="#")=txt

mixin sProfileNCreate(data)
	// start sProfileN
	+b.SECTION.sProfileN.section#sProfileN&attributes(attributes)
		.container-fluid
			+e.row.row.row--mb
				.col-xlg-auto
					+lSidebarN()
						+lSidebarSlide(7,'Мой кабинет')
						+lSidebarSlide(8,'Мои вакансии')
						+lSidebarSlide(9,'Настройки профиля')
				+e.content-col.col-xlg
					.center-block
						+e.title-row.row.row--mb.align-items-center
							.col
								+e.H1.title=data.title
							.col-12
								+e.box
									+form-wrap
										+e.b-title Основная информация
										+e.b-row.mb-48.mb-xlg-24.mb-xl-48.row&attributes(attributes)
											+e.b-col-pd--base.col-12
												+input('Должность', 'text', 'Введите должность')
												//-
												+e.input-wrap--no-lab
													+e.input-title Регион
													+e.inps-row.row
														.col-12
															+customSlect('')(data-placeholder='Выберите регион')
																option(value="" label='#')
																option(value="Самара") Самара
																option(value="Самара2") Самара2
												//-
												+e.input-wrap--no-lab
													+e.input-title Город
													+e.inps-row.row
														.col-12
															+customSlect('')(data-placeholder='Выберите город')
																option(value="" label='#')
																option(value="Самара") Самара
																option(value="Самара2") Самара2
												//-
												+input('Адрес', 'text', 'Введите адрес (дадата)')
												//-
												+e.input-wrap--no-lab
													+e.input-title Опыт работы
													+e.inps-row.row
														.col-12
															+customSlect('')(data-placeholder='Выберите из списка')
																option(value="" label='#')
																option(value="Самара") Самара
																option(value="Самара2") Самара2
												//-
												+e.input-wrap--no-lab
													+e.input-title Тип занятости
													+e.inps-row.row
														.col-12
															+customSlect('')(data-placeholder='Выберите из списка')
																option(value="" label='#')
																option(value="Самара") Самара
																option(value="Самара2") Самара2
												//-
												+e.input-wrap--no-lab
													+e.input-title График
													+e.inps-row.row
														.col-12
															+customSlect('')(data-placeholder='Выберите из списка')
																option(value="" label='#')
																option(value="Самара") Самара
																option(value="Самара2") Самара2
												+e.input-wrap--no-lab
													+e.input-title Заработная плата, ₽
													+e.inps-row.row
														.col-12
															+e.couple-row.row
																+e.c-col.col-6(data-ph="от")
																	+e.INPUT.input--couple.form-control(type="text" placeholder='25 000')
																+e.c-col.col-6(data-ph="до")
																	+e.INPUT.input--couple.form-control(type="text" placeholder='100 000')
															+customChb('Не указывать')
												//-
												+e.input-wrap--no-lab.align-items-start
													+e.input-title Описание вакансии
													+e.inps-row.row
														.col-12
															+e.TEXTAREA.input--big-ta.form-control(placeholder="")
												//-
												+e.input-wrap--no-lab.align-items-start
													+e.input-title Ключевые навыки
													+e.inps-row.row
														.col-12
															+multipleSelect2('prof-skills', undefined, undefined, '')
																option(selected) Умный
																option(selected) Усидчевый
										//-second block
										+e.b-title.mb-24.mb-base-48 Контактное лицо
										+e.cf-txt.d-base-none.mb-24 Укажите контактное лицо, которое будет принимать звонки и письма с откликами соискателей.
										+e.b-row.row&attributes(attributes)
											+e.b-col-pd--base.col-base-auto
												+input('Введите ФИО', 'text', 'Контактное лицо')
												+input('Введите должность', 'text', 'Должность контактного лица')
												+input('Введите телефон', 'tel', 'Телефон контактного лица')
												+input('Введите e-mail', 'email', 'E-mail контактного лица')
											.col-base.d-none.d-base-block
												+e.cf-txt Укажите контактное лицо, которое будет принимать звонки и письма с откликами соискателей.
											+e.btn-col.col-12
												+e.sub-btns-row.row.justify-content-center.justify-content-md-end.gy-12
													.col-12.col-md-auto
														+e.cr-btn--gray(type="button") Сохранить как черновик
													.col-12.col-md-auto
														+e.cr-btn--green(type="button") Опубликовать вакансию

mixin sProfileNCreateAlt(data)
	// start sProfileN
	+b.SECTION.sProfileN.section#sProfileN&attributes(attributes)
		.container-fluid
			+e.row.row.row--mb
				.col-xlg-auto
					+lSidebarN()
						+lSidebarSlide(7,'Мой кабинет')
						+lSidebarSlide(8,'Мои вакансии')(class="active")
						+lSidebarSlide(9,'Настройки профиля')
						+lSidebarSlide(10,'Отклики')
				+e.content-col.col-xlg
					.center-block
						+e.title-row.row.row--mb.align-items-center
							.col
								+e.H1.title=data.title
							.col-12
								+e.box.p-0
									+form-wrap
										+e.sub-box.sidebar-box-js(id="box-1")
											+e.b-title Основная информация
											+e.b-row.row
												+e.b-col-pd--base.col-12
													//-error
													+e.input-wrap--no-lab.mb-xl-15
														+e.input-title Название вакансии
														+e.inps-row.row.gy-12
															.col-12
																+e.INPUT.input--w100percents.form-control(class=`${data.error && 'border-danger' || ''}` type="" placeholder="Например, врач-терапевт")
															if data.error
																+e.error.text-start.text-danger.col-12 Заполните поле.
													//-
													+e.input-wrap--no-lab.mb-xl-15
														+e.input-title Выберите должность
														+e.inps-row.row.gy-12
															.col-12
																+multipleSelect2('prof-sphere', undefined, undefined, 'Выберите из списка')
															.col-12
																+e.chose-txt Выберите до 5-ти должностей из списка, которые подходят на вашу вакансию. Если ваша вакансия подходит под несколько должностей, то это поможет соискателям быстрее найти вашу вакансию, а вам быстрее найти соискателя.
													//-
													+e.input-wrap--no-lab.mb-xl-18
														+e.input-title Covid-19
														+e.inps-row.row.radio-row
															.col-auto
																+customChbDuplicate('Вакансия связана с Covid-19')
													//-
													+e.input-wrap--no-lab
														+e.input-title Опыт работы
														+e.inps-row.row
															.col-12
																+customSlect('expirience', ['Без опыта','Самара2','Самара2'])
													//-
													+e.input-wrap--no-lab
														+e.input-title График
														+e.inps-row.row
															.col-12
																+customSlect('expirience', ['Полный рабочий день', 'Самара2', 'Самара2'])
													//-
													+e.input-wrap--no-lab.mb-xl-15
														+e.input-title Заработная плата, ₽
														+e.inps-row.row.gy-12
															.col-12
																+e.couple-row.row.mb-xl-1
																	+e.c-col.col-6(data-ph="от")
																		+e.INPUT.input--couple.form-control(type="text" placeholder='25 000' class=`${data.error && 'border-danger' || ''}`)
																	+e.c-col.col-6(data-ph="до")
																		+e.INPUT.input--couple.form-control(type="text" placeholder='100 000' class=`${data.error && 'border-danger' || ''}`)
															.col-12
																+customChb('Не указывать', 'mh-0')
															if data.error
																+e.error.text-start.text-danger.col-12 Заполните поле.
													//-error
													+e.input-wrap--no-lab.mb-xl-15
														+e.input-title Адрес работы
														+e.inps-row.row.gy-12
															.col-12
																+e.INPUT.input--w100percents.form-control(class=`${data.error && 'border-danger' || ''}` type="" placeholder="Введите адрес")
															if data.error
																+e.error.text-start.text-danger.col-12 Заполните поле.
													//-new
													+e.input-wrap--no-lab.mb-xl-15
														+e.input-title Наименование филиала
														+e.inps-row.row.gy-12
															.col-12
																+e.INPUT.input--w100percents.form-control(type="text" placeholder="Необязательное поле")
													+e.input-wrap--no-lab.mb-xl-15
														+e.input-title Подразделение/отделение
														+e.inps-row.row.gy-12
															.col-12
																+e.INPUT.input--w100percents.form-control(type="text" placeholder="Необязательное поле")
													+e.input-wrap--no-lab.align-items-start
														+e.input-title Описание вакансии
														+e.inps-row.row.gy-12
															.col-12
																+e.TEXTAREA.input--big-ta.form-control(placeholder="" class=`${data.error && 'border-danger' || ''}`)
															if data.error
																+e.error.text-start.text-danger.col-12 Заполните поле.
													//-
													+e.input-wrap--no-lab.align-items-start
														+e.input-title Ключевые навыки
														+e.inps-row.row
															.col-12
																+multipleSelect2('prof-skills', undefined, undefined, '')
																	option(selected) Умный
																	option(selected) Усидчевый
										+e.sub-box.sidebar-box-js(id="box-2")
											+e.b-title.mb-12 Фотографии
											//-
											+e.b-row.row
												+e.b-col-pd--base.col-12
													+e.sub-title-row.row
														+e.st-title.col-md-auto.align-self-start Прикрепите до 6 фотографий
														.col-md
															+galeryLoad()
															+e.r-hint.pt-12.active Фотографии отделения, интерьера или оборудования повышают доверие и интерес к вашей вакансии.
										+e.sub-box.sidebar-box-js(id="box-3")
											+e.b-title.mb-12 Жилье
											//-
											+e.b-row.row
												+e.b-col-pd--base.col-12
													+e.sub-title-row.row
														+e.st-title.col-md-auto.align-self-start Предоставление жилья
														.col-md
															+repeatorBl('empty-content-js', 'Если ваша организация предоставляет жилье для соискателя, укажите об этом и вашу вакансию обязательно заметят.')
																+e.inp-row.row.gy-18.pb-18
																	.col-12
																		+customSlect('')(data-placeholder='Выберите из списка')
																			option(value="" label='#')
																			option(value="Самара") Самара
																			option(value="Самара2") Самара2
																	.col-12
																		+e.TEXTAREA.input--sm-ta.form-control(placeholder="")
										+e.sub-box.sidebar-box-js(id="box-4")
											+e.b-title Денежные выплаты
											//-
											+e.b-row.row
												+e.b-col-pd--base.col-12
													+e.sub-title-row.row
														+e.st-title.col-md-auto.align-self-start Предоставление денежных выплат
														.col-md
															+repeatorBl('empty-content-js', 'Если ваша организация предоставляет денежные выплаты для соискателя, укажите об этом и вашу вакансию обязательно заметят.')
																+e.inp-row.row.gy-18.pb-18
																	.col-12
																		+customSlect('')(data-placeholder='Выберите из списка')
																			option(value="" label='#')
																			option(value="Самара") Самара
																			option(value="Самара2") Самара2
																	.col-12
																		+e.TEXTAREA.input--sm-ta.form-control(placeholder="")
										+e.sub-box.sidebar-box-js(id="box-5")
											+e.b-title Бонусы
											//-
											+e.b-row.row
												+e.b-col-pd--base.col-12
													+e.sub-title-row.row
														+e.st-title.col-md-auto.align-self-start Предоставление бонусов
														.col-md
															+e.chb-items
																+customChb('Предоставление мест в детских садах/школах')
																+customChb('ДМС или медицинское обслуживание')
																+customChb('Дополнительный отпуск')
																+customChb('Профессиональная профподготовка')
																+customChb('Внутреннее совместительство')
																+customChb('Фитнес')
																+e.chose-txt Если ваша организация предоставляет бонусы для соискателя, укажите об этом и вашу вакансию обязательно заметят.
										+e.sub-box.sidebar-box-js.pt-xl-32(id="box-6")
											+e.b-title Контактная информация
											+e.b-row.row
												+e.b-col-pd--base.col-12
													//-error
													+e.input-wrap--no-lab.mb-xl-15
														+e.input-title Контактное лицо
														+e.inps-row.row.gy-12
															.col-12
																+e.INPUT.input--w100percents.form-control(class=`${data.error && 'border-danger' || ''}` type="" placeholder="ФИО контактного лица")
															if data.error
																+e.error.text-start.text-danger.col-12 Заполните поле.
													//-
													+e.input-wrap--no-lab.mb-xl-15
														+e.input-title Должность
														+e.inps-row.row.gy-12
															.col-12
																+e.INPUT.input--w100percents.form-control(class=`${data.error && 'border-danger' || ''}` type="" placeholder="Введите должность")
															if data.error
																+e.error.text-start.text-danger.col-12 Заполните поле.
													//-
													+e.input-wrap--no-lab
														+e.input-title E-mail
														+e.inps-row.row.gy-12
															.col-12
																+e.INPUT.input--w100percents.form-control(type="email" required name="email" placeholder="Введите e-mail" class=`${data.error && 'border-danger' || ''}`)
															if data.error
																+e.error.text-start.text-danger.col-12 Заполните поле.
															.col-12
																+e.chose-txt На этот адрес мы будем уведомлять вас о новых откликах.
													//-
													+e.input-wrap--no-lab
														+e.input-title Телефон
														+e.inps-row--tel.row.gy-12.align-items-center.tells-input-row-js
															.col-auto +
															.col-auto
																+e.INPUT.input--w40.form-control.text-center.number-mask-js(data-mask="9" pattern="[0-9]{1}" type="text" value="7")
															.col-auto
																+e.tel-sub-row.row.align-items-center
																	.col-auto (
																	.col-auto
																		+e.INPUT.input--w60.form-control.number-mask-js(data-mask="999" pattern="[0-9]{3}" type="text" placeholder='___' class=`${data.error && 'border-danger' || ''}`)
																	.col-auto )
															.col-auto
																+e.INPUT.input--w120.form-control.number-mask-js(data-mask="999-99-99" pattern="[0-9]{3}-[0-9]{2}-[0-9]{2}" type="text" placeholder='___-__-__' class=`${data.error && 'border-danger' || ''}`)
															.col-auto
																+e.INPUT.input--w120.form-control.number-mask-js(data-mask="9" pattern="[0-9]{1}" type="text" placeholder='доб.')
															//-
															if data.error
																+e.error.text-start.text-danger.col-12 Заполните поле.
															.col-12
																+e.chose-txt На этот телефон будут звонить по вашей вакансии соискатели.
													//-
													+e.input-wrap--no-lab
														+e.input-title Прием звонков
														+e.inps-row.row.gy-12.align-items-center.tells-input-row-js
															.col-auto
																+e.inps-row--tel-sub.row.gy-12.align-items-center.time-input-row-js.flex-nowrap
																	.col-auto с:
																	.col-auto
																		+e.INPUT.input--w80.form-control.number-mask-js(data-mask="99:99" pattern="[0-9]{2}[:][0-9]{2}" type="text" placeholder='__:__' class=`${data.error && 'border-danger' || ''}`)
																	.col-auto до:
																	.col-auto
																		+e.INPUT.input--w80.form-control.number-mask-js(data-mask="99:99" pattern="[0-9]{2}[:][0-9]{2}" type="text" placeholder='__:__' class=`${data.error && 'border-danger' || ''}`)
															+e.time-select-col.col-auto
																+customSlect('days', ['Любой день', 'Самара2', 'Самара2'])
															if data.error
																+e.error.text-start.text-danger.col-12 Заполните поле.
															.col-12
																+e.chose-txt На этот телефон будут звонить по вашей вакансии соискатели.
															.col-12.pt-12
																+e.chb-items
																	+customChb('Хочу получать отклики соискателей на email')(checked)
																	+customChb('Принимать звонки от соискателей')(checked)
										+e.sub-box.sidebar-box-js(id="box-7")
											+e.b-title Настройки публикации
											+e.b-row.row
												+e.b-col-pd--base.col-12
													+e.sub-title-row.row
														+e.st-title.col-md-auto.align-self-start Отрасли вакансии
														.col-md
															+e.c-btn--blue.link-modal(href="#modal-sphere") Выбрать
															if data.error
																+e.error.text-start.text-danger.mb-12 Выберите отрасль для вакансии.
															+e.c-hint Выберите одну или несколько отраслей.
													+e.sub-title-row.row
														+e.st-title.col-md-auto.align-self-start Регионы показа
														.col-md
															if !data.chosen
																+e.c-btn--blue.link-modal(href="#modal-region") Выбрать
																if data.error
																	+e.error.text-start.text-danger.mb-12 Выберите регион показа.
																+e.c-hint Выберите один или несколько регионов для показа.
															else
																+e.chosen-items
																	+sProfileNChosenItem('Республика Башкортостан')
																	+sProfileNChosenItem('Москва')
																	+sProfileNChosenItem('Санкт-Петербург')
																	+sProfileNChosenItem('Владикавказ')
																	+sProfileNChosenItem('Московская область')
																+e.chosen-txt Выбрано: 1 страна, 7 регионов, 1 город
																+e.c-btn--blue.link-modal(href="#modal-region") Изменить
										+e.sub-footer
											+e.sub-btns-row.row.justify-content-center.justify-content-md-end.gy-12
												.col-12.col-md-auto
													+e.cr-btn--gray(type="button") Сохранить как черновик
												.col-12.col-md-auto
													+e.cr-btn--green(type="button") Опубликовать вакансию
				+e.aside-menu-col.col-xlg-auto.d-none.d-xlg-block
					+asideMenu()
						ul
							li: a.active(href='#box-1') Основная информация
							li: a(href='#box-2') Фотографии
							li: a(href='#box-3') Жилье
							li: a(href='#box-4') Денежные выплаты
							li: a(href='#box-5') Бонусы
							li: a(href='#box-6') Контактная информация
							li: a(href='#box-7') Настройки публикации

mixin galeryLoad()
	+b.g-load
		+e.row.row.g-load-row-js
		| <input type="file" class="g-load-input-js invisible" accept=".jpg, .jpeg, .png" id="foto-inp" multiple/>
		+e.LABEL.add-btn(for="foto-inp") Добавить

mixin sProfileNChosenItem(txt)
	+e.c-item.c-item-js.active
		span=txt

mixin sProfileNCreatorCab(data)
	// start sProfileN
	+b.SECTION.sProfileN.section#sProfileN&attributes(attributes)
		.container-fluid
			+e.row.row.row--mb
				.col-xlg-auto
					+lSidebarN()
						+lSidebarSlide(7,'Мой кабинет')(class='active')
						+lSidebarSlide(8,'Мои вакансии')
						+lSidebarSlide(9,'Настройки профиля')
				+e.content-col.col-xlg
					.center-block
						block

mixin sProfileNCFeedbacks(data)
	+b.SECTION.sProfileN.section#sProfileN&attributes(attributes)
		.container-fluid
			+e.row.row.row--mb
				.col-xlg-auto
					+lSidebarN()
						+lSidebarSlide(7,'Мой кабинет')
						+lSidebarSlide(8,'Мои вакансии')
						+lSidebarSlide(9,'Настройки профиля')
						+lSidebarSlide(10,'Отклики')(class='active')
				+e.content-col.col-xlg
					+e.title-row.row.row--mb.align-items-center
						.col
							+e.H1.title Отклики
						.col-12
							+b.c-feedback
								+e.items
									-for(var i = 0; i < 6; i++)
										+sProfileNCFeedback()

mixin sProfileNCFeedback(data)
	+e.item
		+e.i-row.row
			.col-auto
				+e.img(href="#")
					img(loading="lazy" src="img/svg/portrait-stab2.svg" alt="")
			+e.col--name.col.col-lg-auto
				+e.name(href="#") Константин Констинтинович Константинов
				+e.gray-data 24 года, Санкт-Петербург
				+e.prof Врач-хирург
			+e.col--date.col-md.text-md-end.order-last.order-md-0.order-lg-last
				+e.date.d-none.d-md-block 7 сентября 2021, 9:40
				+e.btns-row.row.justify-content-end
					.col
						+e.date.d-md-none 7 сентября 2021, 9:40
					+sProfileNCFeedbackBtn('print', 'Cкачать')
					+sProfileNCFeedbackBtn('download', 'Распечатать')
			.col-12.m-0.d-lg-none
			+e.col--vac.col-lg-auto
				+e.vac-name Городской клинический центр Министерства здравоохранения Чувашской Республики
				+e.vac-duty Врач-терапевт-хирург
			+e.col--contacts.col-auto.align-self-center
				+e.tel(href="tel:+79198112822") +7 (919) 811-28-22
				+e.mail(href="mailto:mymail@mail.ru") mymail@mail.ru

mixin sProfileNCFeedbackBtn(iconName, hintTxt)
	.col-auto
		+e.btn(href="#")
			img(loading="lazy" src=`img/svg/c-feedback-${iconName}.svg` alt="")
			+e.hint=hintTxt


mixin sProfileNVacPublication(data)
	// start sProfileN
	+b.SECTION.sProfileN.section#sProfileN&attributes(attributes)
		.container-fluid
			+e.row.row.row--mb
				.col-xlg-auto
					+b.l-side-menu.m-0.p-0
					//-+lSidebarN()
						+lSidebarSlide(7,'Мой кабинет')
						+lSidebarSlide(8,'Мои вакансии')(class="active")
						+lSidebarSlide(9,'Настройки профиля')
						+lSidebarSlide(10,'Отклики')
				+e.content-col.col-xlg
					.center-block
						+e.title-row.row.row--mb.align-items-center
							.col
								+e.H1.title=data.title
							.col-12
								+e.box.p-0
									+form-wrap
										+e.sub-box.sidebar-box-js(id="box-1")
											+e.b-title Информация об организации
											+e.b-row.row
												+e.b-col-pd.col-12
													//-error
													+e.input-wrap--no-lab
														+e.input-title Тип организации
														+e.inps-row.row.radio-row.gy-12
															if data.createChecked
																.col-auto
																	+customRadio('Создать новую','public-vac','Создать новую')(checked)
																.col-auto
																	+customRadio('Выбрать из списка','public-vac','Выбрать из списка')
															else
																.col-auto
																	+customRadio('Создать новую','public-vac','Создать новую')
																.col-auto
																	+customRadio('Выбрать из списка','public-vac','Выбрать из списка')(checked)
													//-
													+e.input-wrap--no-lab
														+e.input-title Наименование организации
														+e.inps-row.row.gy-12
															.col-12
																+e.INPUT.input--w100percents.form-control(type="text" placeholder="Наименование организации")
													if data.createInps
														//-
														+e.input-wrap--no-lab
															+e.input-title Город
															+e.inps-row.row
																.col-12
																	+customSlect('', ['Самара', 'Самара2', 'Самара2'])(data-placeholder='Выберите город')
																		option(value="" label='#')
																		option(value="Самара") Самара
																		option(value="Самара2") Самара2
														//-
														+e.input-wrap--no-lab
															+e.input-title Форма собственности
															+e.inps-row.row
																.col-12
																	+customSlect('', ['Самара', 'Самара2', 'Самара2'])(data-placeholder='Выберите из списка')
																		option(value="" label='#')
																		option(value="Самара") Самара
																		option(value="Самара2") Самара2
														//-
														+e.input-wrap--no-lab
															+e.input-title Адрес работы
															+e.inps-row.row.gy-12
																.col-12
																	+e.INPUT.input--w100percents.form-control(type="text" placeholder="Введите адрес")
														//-
														+e.input-wrap--no-lab
															+e.input-title Наименование филиала
															+e.inps-row.row.gy-12
																.col-12
																	+e.INPUT.input--w100percents.form-control(type="text" placeholder="Введите наименование филиала")
												if data.hasPortCol
													+e.port-col--square.col-auto.ms-auto
														+e.b-portrait--suare.--empty(href='#')
															img(loading="lazy" src="img/svg/company-stab5.svg" alt="")
														+e.b-change(href='#')
															+e.b-change-img
																img(loading="lazy" src="img/svg/cloud.svg" alt="")
															span Заменить
										+e.sub-box.sidebar-box-js.pt-xl-32(id="box-2")
											+e.b-title Контактная информация
											+e.b-row.row
												+e.b-col-pd--base.col-12
													//-error
													+e.input-wrap--no-lab.mb-xl-15
														+e.input-title Контактное лицо
														+e.inps-row.row.gy-12
															.col-12
																+e.INPUT.input--w100percents.form-control(class=`${data.error && 'border-danger' || ''}` type="" placeholder="ФИО контактного лица")
															if data.error
																+e.error.text-start.text-danger.col-12 Заполните поле.
													//-
													+e.input-wrap--no-lab.mb-xl-15
														+e.input-title Должность
														+e.inps-row.row.gy-12
															.col-12
																+e.INPUT.input--w100percents.form-control(class=`${data.error && 'border-danger' || ''}` type="" placeholder="Введите должность")
															if data.error
																+e.error.text-start.text-danger.col-12 Заполните поле.
													//-
													+e.input-wrap--no-lab
														+e.input-title E-mail
														+e.inps-row.row.gy-12
															.col-12
																+e.INPUT.input--w100percents.form-control(type="email" required name="email" placeholder="Введите e-mail" class=`${data.error && 'border-danger' || ''}`)
															if data.error
																+e.error.text-start.text-danger.col-12 Заполните поле.
															.col-12
																+e.chose-txt На этот адрес мы будем уведомлять вас о новых откликах.
													//-
													+e.input-wrap--no-lab
														+e.input-title Телефон
														+e.inps-row--tel.row.gy-12.align-items-center.tells-input-row-js
															.col-auto +
															.col-auto
																+e.INPUT.input--w40.form-control.text-center.number-mask-js(data-mask="9" pattern="[0-9]{1}" type="text" value="7")
															.col-auto
																+e.tel-sub-row.row.align-items-center
																	.col-auto (
																	.col-auto
																		+e.INPUT.input--w60.form-control.number-mask-js(data-mask="999" pattern="[0-9]{3}" type="text" placeholder='___' class=`${data.error && 'border-danger' || ''}`)
																	.col-auto )
															.col-auto
																+e.INPUT.input--w120.form-control.number-mask-js(data-mask="999-99-99" pattern="[0-9]{3}-[0-9]{2}-[0-9]{2}" type="text" placeholder='___-__-__' class=`${data.error && 'border-danger' || ''}`)
															.col-auto
																+e.INPUT.input--w120.form-control.number-mask-js(data-mask="9" pattern="[0-9]{1}" type="text" placeholder='доб.')
															//-
															if data.error
																+e.error.text-start.text-danger.col-12 Заполните поле.
															.col-12
																+e.chose-txt На этот телефон будут звонить по вашей вакансии соискатели.
										+e.sub-box.sidebar-box-js(id="box-3")
											+e.b-title Настройки публикации
											+e.b-row.row
												+e.b-col-pd--base.col-12
													+e.input-wrap--no-lab
														+e.input-title Регионы показа
														+e.inps-row.row
															.col-12
																+customSlect('', ['Самара', 'Самара2', 'Самара2'])(data-placeholder='Выберите из списка')
																	option(value="" label='#')
																	option(value="Самара") Самара
																	option(value="Самара2") Самара2
										+e.sub-box.sidebar-box-js(id="box-4")
											+e.b-title Основная информация
											+e.b-row.row
												+e.b-col-pd--base.col-12
													//-error
													+e.input-wrap--no-lab.mb-xl-15
														+e.input-title Название вакансии
														+e.inps-row.row.gy-12
															.col-12
																+e.INPUT.input--w100percents.form-control(class=`${data.error && 'border-danger' || ''}` type="" placeholder="Например, врач-терапевт")
															if data.error
																+e.error.text-start.text-danger.col-12 Заполните поле.
													//-
													+e.input-wrap--no-lab.mb-xl-15
														+e.input-title Выберите должность
														+e.inps-row.row.gy-12
															.col-12
																+multipleSelect2('prof-sphere', undefined, undefined, 'Выберите из списка')
															.col-12
																+e.chose-txt Выберите до 5-ти должностей из списка, которые подходят на вашу вакансию. Если ваша вакансия подходит под несколько должностей, то это поможет соискателям быстрее найти вашу вакансию, а вам быстрее найти соискателя.
													//-
													+e.input-wrap--no-lab.mb-xl-18
														+e.input-title Covid-19
														+e.inps-row.row.radio-row
															.col-auto
																+customChbDuplicate('Вакансия связана с Covid-19')
													//-
													+e.input-wrap--no-lab
														+e.input-title Опыт работы
														+e.inps-row.row
															.col-12
																+customSlect('expirience', ['Без опыта', 'Самара2', 'Самара2'])
													//-
													+e.input-wrap--no-lab
														+e.input-title График
														+e.inps-row.row
															.col-12
																+customSlect('expirience', ['Полный рабочий день', 'Самара2', 'Самара2'])
													//-
													+e.input-wrap--no-lab.mb-xl-15
														+e.input-title Заработная плата, ₽
														+e.inps-row.row.gy-12
															.col-12
																+e.couple-row.row.mb-xl-1
																	+e.c-col.col-6(data-ph="от")
																		+e.INPUT.input--couple.form-control(type="text" placeholder='25 000' class=`${data.error && 'border-danger' || ''}`)
																	+e.c-col.col-6(data-ph="до")
																		+e.INPUT.input--couple.form-control(type="text" placeholder='100 000' class=`${data.error && 'border-danger' || ''}`)
															.col-12
																+customChb('Не указывать', 'mh-0')
															if data.error
																+e.error.text-start.text-danger.col-12 Заполните поле.
													//-error
													+e.input-wrap--no-lab.align-items-start
														+e.input-title Описание вакансии
														+e.inps-row.row.gy-12
															.col-12
																+e.TEXTAREA.input--big-ta.form-control(placeholder="" class=`${data.error && 'border-danger' || ''}`)
															if data.error
																+e.error.text-start.text-danger.col-12 Заполните поле.
													//-
													+e.input-wrap--no-lab.align-items-start
														+e.input-title Ключевые навыки
														+e.inps-row.row
															.col-12
																+multipleSelect2('prof-skills', undefined, undefined, '')
																	option(selected) Умный
																	option(selected) Усидчевый
										+e.sub-box.sidebar-box-js(id="box-5")
											+e.b-title.mb-12 Фотографии
											//-
											+e.b-row.row
												+e.b-col-pd--base.col-12
													+e.sub-title-row.row
														+e.st-title.col-md-auto.align-self-start Прикрепите до 6 фотографий
														.col-md
															+galeryLoad()
															+e.r-hint.pt-12.active Фотографии отделения, интерьера или оборудования повышают доверие и интерес к вашей вакансии.
										+e.sub-box.sidebar-box-js(id="box-6")
											+e.b-title.mb-12 Жилье
											//-
											+e.b-row.row
												+e.b-col-pd--base.col-12
													+e.sub-title-row.row
														+e.st-title.col-md-auto.align-self-start Предоставление жилья
														.col-md
															+repeatorBl('empty-content-js', 'Если ваша организация предоставляет жилье для соискателя, укажите об этом и вашу вакансию обязательно заметят.')
																+e.inp-row.row.gy-18.pb-18
																	.col-12
																		+customSlect('')(data-placeholder='Выберите из списка')
																			option(value="" label='#')
																			option(value="Самара") Самара
																			option(value="Самара2") Самара2
																	.col-12
																		+e.TEXTAREA.input--sm-ta.form-control(placeholder="")
										+e.sub-box.sidebar-box-js(id="box-7")
											+e.b-title Денежные выплаты
											//-
											+e.b-row.row
												+e.b-col-pd--base.col-12
													+e.sub-title-row.row
														+e.st-title.col-md-auto.align-self-start Предоставление денежных выплат
														.col-md
															+repeatorBl('empty-content-js', 'Если ваша организация предоставляет денежные выплаты для соискателя, укажите об этом и вашу вакансию обязательно заметят.')
																+e.inp-row.row.gy-18.pb-18
																	.col-12
																		+customSlect('')(data-placeholder='Выберите из списка')
																			option(value="" label='#')
																			option(value="Самара") Самара
																			option(value="Самара2") Самара2
																	.col-12
																		+e.TEXTAREA.input--sm-ta.form-control(placeholder="")
										+e.sub-box.sidebar-box-js(id="box-8")
											+e.b-title Бонусы
											//-
											+e.b-row.row
												+e.b-col-pd--base.col-12
													+e.sub-title-row.row
														+e.st-title.col-md-auto.align-self-start Предоставление бонусов
														.col-md
															+e.chb-items
																+customChb('Предоставление мест в детских садах/школах')
																+customChb('ДМС или медицинское обслуживание')
																+customChb('Дополнительный отпуск')
																+customChb('Профессиональная профподготовка')
																+customChb('Внутреннее совместительство')
																+customChb('Фитнес')
																+e.chose-txt Если ваша организация предоставляет бонусы для соискателя, укажите об этом и вашу вакансию обязательно заметят.
										+e.sub-footer
											+e.sub-btns-row.row.justify-content-center.justify-content-md-end.gy-12
												//-.col-12.col-md-auto
													+e.cr-btn--gray(type="button") Сохранить как черновик
												.col-12.col-md-auto
													+e.cr-btn--green(type="button") Опубликовать вакансию
				+e.aside-menu-col.col-xlg-auto.d-none.d-xlg-block
					+e.aside-menu
					//-+asideMenu()
						ul
							li: a.active(href='#box-1') Основная информация
							li: a(href='#box-2') Фотографии
							li: a(href='#box-3') Жилье
							li: a(href='#box-4') Денежные выплаты
							li: a(href='#box-5') Бонусы
							li: a(href='#box-6') Контактная информация
							li: a(href='#box-7') Настройки публикации

mixin resumeMove(btnAddClasses)
	+b.r-move
		+e.row.row.align-items-center
			.col-md-auto.d-none.d-md-block
				+e.img
					img(loading="lazy" src="img/@2x/r-move.png" alt="")
			.col-md
				+e.title Продвижение резюме
				+e.descr
					| Заполните резюме на
					|
					b 100%,
					|
					| нажмите на кнопку
					|
					b “Разослать резюме”
					|
					| и мы автоматически разошлем ваше резюме работодателям с вакансиями подходящими под вашу должность.
			.col-md-auto
				+e.btn(href="#" class=`${btnAddClasses || ''}`) Разослать резюме
