mixin sProfileN(data)
	// start sProfileN
	+b.SECTION.sProfileN.section#sProfileN&attributes(attributes)
		.container-fluid
			+e.row.row.row--mb
				.col-xl-auto
					+lSidebarN()
				.col-xl
					.center-block
						+e.title-row.row.row--mb.align-items-center
							.col
								+e.H1.title Настройки профиля
							.col-auto
								//- +e.look(href='#') Как выглядит мой профиль
							.col-12
								+profileNBox('Личные данные', 'box-1')
									+e.b-col-pd.col-xl-auto
										+input('', 'text', 'Фамилия', 'surname')(value="Ишметов")
										+input('', 'text', 'Имя', 'name')(value="Михаил")
										+input('', 'text', 'Отчество', 'father-name')(value="Сергеевич")
									+e.port-col.col-auto.ms-auto
										+e.b-portrait(href='#')
											img(loading="lazy" src="img/svg/company-stab.svg" alt="")
										+e.b-change(href='#')
											+e.b-change-img
												img(loading="lazy" src="img/svg/cloud.svg" alt="")
											span Заменить
									+e.b-col-pd--base.col-xl-auto
										//-radio
										+e.input-wrap--no-lab
											+e.input-title Пол
											+e.inps-row.row.radio-row
												.col-auto
													+customRadio('Мужской','male','man')(checked)
												.col-auto
													+customRadio('Женский','male','woman')
										//-birth
										+e.input-wrap--no-lab
											+e.input-title Дата рождения
											+e.inps-row.row
												.col-auto
													+e.INPUT.input.day-inp.form-control(type="number" value='22' min='1' max='31')
												.col
													+customSlect('month', ['Января','Февраля','Марта'])
												.col
													+customSlect('year')
														option 1997
														- for (var i=1998; i <= new Date().getFullYear(); i++)
															option=i
										+e.input-wrap--no-lab
											+e.input-title Город проживания
											+e.inps-row.row
												.col-12
													+customSlect('city', ['Самара','Самара2','Самара2'])
													//+customSlect('city', ['','',''])
													//-+e.SELECT.select.form-control.form-select
														option Самара
														option Самара 2
														option Самара 3
										+input('', 'email', 'Email')(value="arts.man@mail.ru")
										+input('', 'tel', 'Телефон')(value="+79198112848")
										//-radio
										+e.input-wrap--no-lab
											+e.input-title Статус на сайте
											+e.inps-row.row.radio-row
												.col-auto
													+customRadio('Ищу работу','work-looking-status','Ищу работу')(checked)
												.col-auto
													+customRadio('Не рассматриваю','work-looking-status','Не рассматриваю')
									+e.btn-col.col-12
										+e.save-btn(type="submit") Сохранить изменения
							.col-12
								+profileNBox('Безопасность', 'box-2', 'pt-12 pt-md-0')
									+e.pass-col.col-base
										//-1
										+e.input-wrap.form-group
											label
												+e.SPAN.input-title.reuire Текущий пароль
												+e.SPAN.inp-cont
													+e.INPUT.input.form-control(type="password" required name="current-pass" placeholder="Введите текущий пароль")
													+e.show-hide-btn.toggle-pass-inp-js
														+icon('pass-eye')
										//-2
										+e.input-wrap.form-group
											label
												+e.SPAN.input-title.reuire Новый пароль
												+e.SPAN.inp-cont
													+e.INPUT.input.form-control(type="password" required name="new-pass" placeholder="Введите новый пароль")
													+e.show-hide-btn.toggle-pass-inp-js
														+icon('pass-eye')
										//-3
										+e.input-wrap.form-group
											label
												+e.SPAN.input-title.reuire Новый пароль
												+e.SPAN.inp-cont
													+e.INPUT.input.form-control(type="password" required name="new-pass-repeat" placeholder="Повторите новый пароль")
													+e.show-hide-btn.toggle-pass-inp-js
														+icon('pass-eye')
									+e.hint-col.col-base-auto
										+e.h-title Пароль должен содержать:
										+e.UL.h-list
											li хотя бы одну цифру (0-9)
											li хотя бы одну латинскую строчную букву (a-z)
											li хотя бы одну латинскую прописную букву (A-Z)
											li 6 знаков и более
									+e.btn-col--security.col-12
										+e.save-btn.muted(type="submit") Сохранить изменения
									//-+input('', '', '', '')(value="")
							.col-12
								+profileNBox('Социальные профили', 'box-3')(class="row--mb soc-row")
									+socProfieItem('fb')
									+socProfieItem('vk', 'has-dell-link', true)(style="background-color: #2787F5;")
									+socProfieItem('inst')
									+socProfieItem('tg')
									+socProfieItem('ok')
									+socProfieItem('tw')
									+socProfieItem('gpl')
							.col-12
								+profileNBox('Настройка уведомлений', 'box-4')
									.col-12
										+e.chb-title СМС-Уведомления
										+customChbGroup(['Уведомления о приглашениях на вакансии','Напоминание о собеседовании'])
										+e.chb-title PUSH-уведомления
										+customChbGroup(['Просмотры','Вакансии','Приглашения','Рекомендации'])
										+e.chb-title Почтовые рассылки
										+customChbGroup([
											'Советы по эффективному поиску работы',
											'Акции сайта для соискателей',
											'Анонсы мероприятий для соискателей',
											'Предложения наших партнеров для соискателей',
											'Уведомления от работодателей',
											'Вакансии, которые могут быть вам интересны',
											'Полезные новости и опросы для соискателей',
											'Вакансии по вашей подписке',
											'Напоминание о собеседовании'
										])
									+e.btn-col.pt-md-15.pt-xl-25.col-12
										+e.save-btn(type="submit") Сохранить изменения
				.col-xl-auto.d-none.d-xxl-block
					+asideMenu()
	// end sProfileN
mixin customSlect(selectName, optionsArr=['услуга 1', 'очень очень долгая услуга услуга 2', 'очень долгая услуга'], keyClass='default-select-js')
	+b.custom-select
		select(name=selectName class=keyClass)
			if block
				block
			else
				- for (let item of optionsArr)
					option(value=item)=item

mixin asideMenu()
	+e.aside-menu.aside-menu-js
		ul
			li: a.active(href='#box-1') Личные данные
			li: a(href='#box-2') Безопасность
			li: a(href='#box-3') Социальные профили
			li: a(href='#box-4') Настройка уведомлений

mixin socProfieItem(iconName, addClasses='', del=false)
	.col-auto
		+e.soc-item(class=addClasses)
			+e.s-icon(href="#")&attributes(attributes)
				+icon(`soc-${iconName}`)
			if del
				+e.s-link(href="#") Удалить
			else
				+e.s-link(href="#") Добавить

mixin customRadio(txt, name, val)
	+b.LABEL.custom-radio
		input(type="radio" class="invisible" name=name value=val)&attributes(attributes)
		span.circle
		span.txt=txt

mixin profileNBox(title, boxId, titleClasses)
	+e.box.sidebar-box-js(id=boxId)
		+form-wrap
			+e.b-title(class=titleClasses)=title
			+e.b-row.row&attributes(attributes)
				block

mixin lSidebarN()
	+b.l-side-menu
		+e.slider-wrap
			.swiper-container.sidebar-slider-js
				.swiper-wrapper
					if block
						block
					else
						+lSidebarSlide(1,'Мой кабинет')
						+lSidebarSlide(2,'Мое резюме')
						+lSidebarSlide(3,'Настройки профиля')(class='active')
						+lSidebarSlide(4,'Избранные вакансии')
						+lSidebarSlide(5,'Подборки вакансий')

mixin lSidebarSlide(imgNum, txt)
	.swiper-slide
		+e.item.sidebar-item-js(href="#")&attributes(attributes)
			+e.icon
				+icon(`side-mnu-${imgNum}`)
			+e.txt=txt
			+e.tracker.sidebar-trakcer-js
			+e.ball--1.sidebar-ball-js
			+e.ball--2.sidebar-ball-js

mixin sProfileNEmpty(data)
	// start sProfileN
	+b.SECTION.sProfileN.section#sProfileN&attributes(attributes)
		.container-fluid
			+e.row.row.row--mb
				.col-xl-auto
					+lSidebarN()
						+lSidebarSlide(1,'Мой кабинет')
						+lSidebarSlide(2,'Мое резюме')
						+lSidebarSlide(3,'Настройки профиля')
						+lSidebarSlide(4,'Избранные вакансии')(class='active')
						+lSidebarSlide(5,'Подборки вакансий')
				+e.content-col.col-xl
					.center-block
						+e.title-row.row.row--mb.align-items-center
							.col
								+e.H1.title=data.title
							.col-12
								block