extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sCards/_sCards.pug
include ../blocks/sWhat/_sWhat.pug
include ../blocks/sBaner/_sBaner.pug
include ../blocks/sVacDay/_sVacDay.pug
include ../blocks/sEmplDay/_sEmplDay.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sBalls/_sBalls.pug
include ../blocks/sLogoes/_sLogoes.pug
include ../blocks/sVantage/_sVantage.pug
include ../blocks/sHow/_sHow.pug
include ../blocks/sFAQ/_sFAQ.pug
include ../blocks/sNow/_sNow.pug
include ../blocks/sReg/_sReg.pug
include ../blocks/sSearch/_sSearch.pug

block variables
	- let  mainPage= 'headings-color reg-page'
	//-headings-color has-reg-btn new-header
	- let  descr = 'Медикджобс – это сервис, который помогает медицинским сотрудникам найти работу, а работодателям кандидатов с помощью умного алгоритма подбора.'
block title
	- let  title= '040-education'
	title= title
block pagecontent
	+sReg({
		title: 'Образование',
		logo: false,
		backHeader: false,
		stepHeader: true,
		stepHeaderItems: [
			'Личная информация',
			'Условия работы',
			'Опыт работы',
			'Образование',
			'Повышение квалификации',
		],
		checkedItems: 3,
		currentItem: 3,
		lowerRow: true,
		lowerSkip: true,
	})
		+form-wrap()(class="with-labels")
			//-
			+e.repeater.repeator-js.text-start.mb-48
				+e.r-item.r-item-js
					//-begin item
					+e.input-wrap.form-group
						+e.SPAN.input-title Страна
						+customSlect('region')(data-placeholder="Выберите из списка")
							option(label="#" selected)
							- for (var i=1; i <= 4; i++)
								option=i
					+e.input-wrap.form-group
						+e.SPAN.input-title Регион
						+customSlect('region')(data-placeholder="Выберите регион")
							option(label="#" selected)
							- for (var i=1; i <= 4; i++)
								option=i
					+e.input-wrap.form-group
						+e.SPAN.input-title Город
						+customSlect('region')(data-placeholder="Выберите город")
							option(label="#" selected)
							- for (var i=1; i <= 4; i++)
								option=i
					//-
					+e.input-wrap.form-group
						label
							+e.SPAN.input-title Факультет
							+e.INPUT.input.form-control.mb-12(type="text" required name="" placeholder="Факультет")
					+e.input-wrap.form-group
						label
							+e.SPAN.input-title Специальность
							+e.INPUT.input.form-control.mb-12(type="text" required name="" placeholder="Специальность")
					//-
					+e.input-wrap.form-group
						+e.SPAN.input-title Форма обучения
						+customSlect('region')(data-placeholder="Выберите форму обучения")
							option(label="#" selected)
							- for (var i=1; i <= 4; i++)
								option=i
					+e.input-wrap.form-group
						+e.SPAN.input-title Статус
						+customSlect('region')(data-placeholder="Выберите статус")
							option(label="#" selected)
							- for (var i=1; i <= 4; i++)
								option=i
					//-
					+e.input-wrap
						+e.input-title
							span Год окончания
							.text-secondary.mt-6.fw-400 Если учитесь в настоящее время — укажите год предполагаемого окончания
						+e.INPUT.input.form-control.mb-12(type="text" required name="" placeholder="Год окончания")
					//-end item
				+e.r-add-btn.r-add-btn-js(type='button') Добавить
			+e.btn-cont
				+e.btn-row.row
					.col-6
						+e.back-btn(type="button")
							+icon('chevron-left')
							span Назад
					.col-6
						+e.green-btn(type="button") Сохранить