mixin sCompilations(data)
	// start sCompilations
	+b.sCompilations#sCompilations&attributes(attributes)
		+e.top-row.row.align-items-center
			.col-12
				h1.sProfileN__title Подборка вакансий
		//-.cTabs-js
		+b.tabs-bl
			if data.EmptyContent
				+b.comp-empty.mb-18.mb-md-24
					+e.row.row
						.col-md-6
							+e.input-title Должность:
							+e.input-wrap
								+e.INPUT.input.form-control.pe-5(type="text" placeholder="Начните вводить должность")
								+e.search-btn(type="button")
									+icon('zoom-3')
						.col-md-6
							+e.input-title Заработная плата:
							+e.sub-row.row.align-items-center
								.col
									+e.INPUT.input.form-control(type="text" placeholder="от 40 000")
								+e.dash-col.col-auto –
								.col
									+e.INPUT.input.form-control(type="text" placeholder="до 60 000")
						.col-sm
							+e.input-title Регионы поиска:
							+e.region-row.row.align-items-center
								.col-auto
									+e.plate Россия
								.col-auto
									+e.change-link.link-modal(href="#modal-region") Изменить
						.col-sm-auto.align-self-end.align-self-xl-center
							+e.update-btn(type="submit") Обновить подборку
			+e.wrap
				+e.title-row.row.align-items-center.mb-18.mb-md-24.gx-24.gy-24
					.col-md.order-last.order-md-0
						+e.descr Всего для вас подобрано 27 вакансий
						//-.cTabs-content-group-js
							.cTabs-content-js.active
								+e.descr Всего для вас подобрано 27 вакансий
							.cTabs-content-js
								+e.descr Вам понравились 3 вакансии
							.cTabs-content-js
								+e.descr Вы скрыли 3 вакансии
					//-
						.col-auto
							+e.btn.cTabs-btn-js.active Все
						.col-auto
							+e.btn.cTabs-btn-js Понравившиеся
						.col-auto
							+e.btn.cTabs-btn-js Скрытые
				.cTabs-content-group-js
					if data.EmptyContent
						+e.content.cTabs-content-js.active
							+compilationsEmpty()
						+e.content.cTabs-content-js 3
						+e.content.cTabs-content-js 2
					else
						//-.cTabs-content-js.active
						+e.content.active
							+e.plates-row.row
								-for (var i = 0; i < 2; i++)
									+threeCards('item-regular-js')
						//-+e.content.cTabs-content-js
							+e.plates-row.row
								-for (var i = 0; i < 2; i++)
									+threeCards('item-like-js')
						//-+e.content.cTabs-content-js
							+e.plates-row.row
								-for (var i = 0; i < 2; i++)
									+threeCards('item-dislike-js')
	// end sCompilations

mixin threeCards(fType, bootClasses='col-md-6 col-lg-4')
	+sCompilationsItem({
		bootClasses: bootClasses,
		timeHasBall: true,
		timeTxt: '5 минут назад',
		likeActive: 'active',
		title: 'Врач хирург-терапевт',
		salary: '57 000 ₽',
		hasLogo: true,
		companyName: 'Медицинский центр травматологии и ортопедии',
		descr: 'На должность медицинской сестры назначается медицинский работник, имеющий среднее медицинское образование, имеющий практические...',
		itemType: fType
	})
	+sCompilationsItem({
		bootClasses: bootClasses,
		timeTxt: 'Вчера, 17:53',
		title: 'Помощник врача-эпидемиолога (фельдшер/медицинская сестра /младший врач-эпидемиолог)',
		salary: '75 000 - 90 000 ₽',
		hasLogo: false,
		companyName: 'Московский центр аккредитации и профессионального развития в сфере здравоохранения',
		descr: 'На должность медицинской сестры назначается медицинский работник, имеющий среднее медицинское образование, имеющий практические...',
		itemType: fType
	})
	+sCompilationsItem({
		bootClasses: bootClasses,
		timeTxt: '20 апреля 2021',
		title: 'Врач хирург-терапевт',
		salary: '57 000 ₽',
		hasLogo: true,
		companyName: 'ООО УК Медгард',
		descr: 'На должность медицинской сестры назначается медицинский работник, имеющий среднее медицинское образование, имеющий практические...',
		itemType: fType
	})

mixin sCompilationsItem(data)
	.sComp-col-js(class=`${data.bootClasses || 'col-md-6 col-lg-4'}`)
		+b.sComp-item(class=data.itemType)
			+e.head
				+e.h-row.row.gy-2.align-items-center
					.col
						+e.h-time 5 сентября 2021 в 11:54
					.col-auto
						+b.hint-row.row
							.col
								+e.quest-sign
									+icon('q-sign')
									+e.hint-cont
										+e.hint Чем больше информации вы укажите в своем резюме, тем эффективнее интеллектуальная подборка сможет подобрать для вас подходящие вакансии.
			+e.content
				+e.c-top-row.row.gx-0
					.col
						+e.title(href="#")=`${data.title || 'Врач хирург-терапевт'}`
						+e.salary=`${data.salary || 'Врач хирург-терапевт'}`
					.col-auto
						+b.like-btn(href='#' class=`toggle-active-on-click-js ${data.likeActive || ''}`)
							+icon('like')
							+icon('like-fill')
				+e.logo-row.row.gy-2
					.col-auto
						if data.hasLogo
							+e.logo(href='#')
								img(loading="lazy" src="img/@2x/n-chosen-1.png" alt="")
						else
							+e.logo--empty(href='#')
								img(loading="lazy" src="img/svg/sm-company-stab.svg" alt="")
					.col
						+e.name=`${data.companyName || 'ООО УК Медгард'}`
						+e.city=`${data.companyCity || 'г. Санкт-Петербург'}`
				+e.descr!=data.descr
				+e.detail(href='#') Подробнее о вакансии
			+e.footer
				+e.f-btn--hide.sComp-btn-js.sComp-dislike-btn-js
					+icon('cross-eye')
					span Скрыть
				//-.sComp-like-btn-js.sComp-btn-js
				+e.f-btn--call.link-modal(href="#modal-vac")
					span Откликнуться
				if data.itemType === 'item-like-js'
					+e.big-btn-cont.bb-cont-js
						+e.f-btn--hide.--long
							+icon('cross-eye')
							span Не нравится
				else if data.itemType === 'item-dislike-js'
					+e.big-btn-cont.bb-cont-js
						+e.f-btn--call.--long
							span Нравится

mixin formCheck(txt='lalala')
	.form-check.form-switch
		input#flexSwitchCheckDefault.form-check-input(type='checkbox')&attributes(attributes)
		label.form-check-label(for='flexSwitchCheckDefault')=txt

mixin chbSwitch(txt='lalala')
	+b.LABEL.custom-switch
		input(type='checkbox' class='invisible')&attributes(attributes)
		span.line
		span.txt=txt

mixin compilationsEmpty()
	+b.sNVac--compilation#sNVac&attributes(attributes)
		+e.empty
			+e.e-img
				img(loading="lazy" src="img/@2x/empty-vac.png" alt="")
			+e.e-txt.text-center.mb-0 По вашему запросу мы не смогли подобрать вакансий, попробуйте скорректировать запрос.
			//-+e.e-btn(href='#') Перейти к резюме