mixin sCatalog(data)
	// start sCatalog
	+b.sCatalog.section#sCatalog&attributes(attributes)
		.container
			+e.top-row.row.align-items-center
				.col.col-md-auto
					+e.found
						span.me-1.d-none.d-md-inline Найдено
						span 1 434 вакансий
				.col-auto
					+sCatalogDD('Новые')
						+sCatalogDDItem('sort1', 'Новые')(checked)
						+sCatalogDDItem('sort1', 'По зарплате')
				.col-auto.col-md
					+sCatalogDD('За все время')
						+sCatalogDDItem('sort2', 'За все время')(checked)
						+sCatalogDDItem('sort2', 'За сутки')
						+sCatalogDDItem('sort2', 'За неделю')
						+sCatalogDDItem('sort2', 'За месяц')
				.col-auto.d-none.d-md-block
					+e.wide-btn
						span Расширенный фильтр
						+icon('filter')
			+e.main-row.row
				.col-lg-9
					+e.items.sCatalog-js
						+sCatalogItem({
							title: 'Врач стоматолог-терапевт-хирург',
							salary: '30 000-35 000',
							defaultBtns: true,
							pillsRow: true,
							organization: 'ГБУЗ Городская клиническая больница имени И. В. Давыдовского ДЗМ',
							logoImg: 2,
						})
							+sCatalogItemPill('#EFF2F6', 'Будьте первыми')
							+sCatalogItemPill('#EFF2F6', 'Можно без опыта')
							+sCatalogItemPill('#feefe9', 'Covid-19', 1)
							+sCatalogItemPill('#edfbf3', 'Жилье', 4)
							+sCatalogItemPill('#f8eafc', 'Денежная выплата', 6)
							+sCatalogItemPill('#e8f8fe', 'Бонусы', 5)
						+sCatalogItem({
							addClasses: 'blue-card',
							title: 'Архивариус',
							salary: '50 000',
							defaultBtns: true,
							organization: 'БУДЬ ЗДОРОВ, Клиника',
							logoImg: '4',
						})
						+sCatalogItem({
							title: 'Медицинская сестра',
							salary: '30 000-35 000',
							defaultBtns: false,
							serviceBlock: true,
							organization: 'МРЦ Беляево (Центр Дикуля)',
							logoImg: '4',
						})
						+sCatalogItem({
							title: 'Врач рентгенолог КТ',
							salary: '50 000',
							defaultBtns: true,
							pillsRow: true,
							organization: 'ГБУЗ Городская клиническая больница имени И. В. Давыдовского ДЗМ',
						})
							+sCatalogItemPill('#EFF2F6', 'Можно без опыта')
							+sCatalogItemPill('#edfbf3', 'Жилье', 4)
							+sCatalogItemPill('#f8eafc', 'Денежная выплата', 6)
						+sCatalogItem({
							addClasses: 'gray-card',
							title: 'Врач стоматолог-терапевт-хирург',
							salary: '30 000-35 000',
							bg: true,
							descr: 'Вакансия компании: КласДент; «КласДент» - это современная стоматологическая клиника, осуществляющая все виды лечения заболеваний полости рта. У нас работают высококвалифицированные',
							tealBtns: true,
							organization: 'ГБУЗ Городская клиническая больница имени И. В. Давыдовского ДЗМ',
							logoImg: '2',
						})
						+sCatalogItem({
							title: 'Медицинская сестра',
							salary: '30 000-35 000',
							defaultBtns: true,
							pillsRow: true,
							organization: 'МРЦ Беляево (Центр Дикуля)',
							logoImg: 5,
						})
							+sCatalogItemPill('#feefe9', 'Covid-19', 1)
						+sCatalogItem({
							title: 'Врач рентгенолог КТ',
							salary: '50 000',
							serviceBlock: true,
							organization: 'ГБУЗ Городская клиническая больница имени И. В. Давыдовского ДЗМ',
						})
						+b.card-baner
							+e.row.row.align-items-center
								+e.txt-col.col-md-auto
									+e.title Расскажите о&#160;своей зарплате
									+e.txt Мы в MedicJobs составляем актуальный рейтинг заработных плат на рынке труда в медицине.
									+e.btn(href='#') Пройти опрос
								.col-md
									+e.img
										img(loading="lazy" src="img/svg/sTell-img.svg" alt="")
						+sCatalogItem({
							title: 'Медицинская сестра',
							salary: '30 000-35 000',
							defaultBtns: true,
							organization: 'МРЦ Беляево (Центр Дикуля)',
							logoImg: 5,
						})
						+sCatalogItem({
							title: 'Врач рентгенолог КТ',
							salary: '50 000',
							defaultBtns: true,
							organization: 'ГБУЗ Городская клиническая больница имени И. В. Давыдовского ДЗМ',
						})
					//-
					if !data.notLogged
						+b.pugin-row.row
							.col
								+b.pugination
									ul.pagination
										li.prev.disabled: span
											+icon('chevron-left')
										li.active: a(href="#") 1
										li: a(href="#") 2
										li: a(href="#") 3
										li: a(href="#") ...
										li: a(href="#") 5
										li.next.disabled: a(href="#")
											+icon('chevron-right')
							.col-auto.d-none.d-md-block
								+e.select-cont
									+e.sel-title Показать по:
									+customSlect('name', ['12', '24', '36'], 'main-page-select2-js')
					if data.notLogged
						+loginBaner()
					+e.toggle-box.toggle-box-js
						+e.content
							p Вы собираетесь устроиться на работу, но не знаете как? А может сама мысль о поиске вызывает у вас страх? С нашей площадкой поиск работы из рутинного занятия превращается в легкое приключение, ведь на нашем сайте представлено множество вакансий в городских больницах и медицинских центрах Москвы. Мы стараемся сделать все возможное, что бы вы смогли найти работу, которая будет приносить вам удовольствие, в кратчайшие сроки.
							p На нашей площадке ежедневно публикуется множество свежих вакансий в больницах Москвы. Мы сотрудничаем с огромным количеством работодателей, благодаря чему соискателю на постоянной основе предлагается широчайший выбор позиций по поиску работы в различных медицинских учреждениях Москвы, от государственных больниц, до частных клиник.
						+e.content.toggle-content-js
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto aspernatur autem consequatur cupiditate ex laudantium minima minus modi molestiae mollitia nesciunt numquam, odit qui sint tenetur. Ab culpa eaque eligendi id ipsa maxime minus nisi non odit omnis perspiciatis quas, qui rem saepe veritatis vero voluptates? Ab ad adipisci aliquam aliquid architecto asperiores atque consequatur cumque doloremque, ea eligendi eos excepturi explicabo facere id incidunt iure maxime, molestiae nobis non obcaecati odit perferendis placeat provident quidem repellendus sed temporibus vel voluptas voluptate. Ab ad asperiores at, corporis, culpa distinctio fugit ipsam maxime modi molestiae molestias numquam perferendis quaerat, ut voluptatum?
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto aspernatur autem consequatur cupiditate ex laudantium minima minus modi molestiae mollitia nesciunt numquam, odit qui sint tenetur. Ab culpa eaque eligendi id ipsa maxime minus nisi non odit omnis perspiciatis quas, qui rem saepe veritatis vero voluptates? Ab ad adipisci aliquam aliquid architecto asperiores atque consequatur cumque doloremque, ea eligendi eos excepturi explicabo facere id incidunt iure maxime, molestiae nobis non obcaecati odit perferendis placeat provident quidem repellendus sed temporibus vel voluptas voluptate. Ab ad asperiores at, corporis, culpa distinctio fugit ipsam maxime modi molestiae molestias numquam perferendis quaerat, ut voluptatum?
						+b.toggle-txt-btn.toggle-btn-js
							span Показать полностью
							span Свернуть
				.col-lg-3
					+sCatalogFilter()
					+e.mob-catalog-btn.cat-filter-toggle-js.d-lg-none
						+icon('filter')
						span Быстрые фильтры
	// end sCatalog

mixin loginBaner()
	+b.login-baner.text-center
		+e.ball-cont
			+e.ball
				img(loading="lazy" src='img/svg/padlock.svg' alt="")
		+e.title Авторизуйтесь или зарегистрируйтесь, чтобы познакомиться ближе
		+e.descr После авторизации вы получите множество возможностей сервиса MedicJobs.ru.
		+e.row.row.justify-content-center
			.col-md-auto
				+e.btn--green(href='#') Авторизация
			.col-md-auto
				+e.btn--blue(href='#') Регистрация
		+e.already
			| Уже зарегистрированы и забыли пароль?
			|
			a(href="#") Восстановить доступ

mixin sCatalogFilter()
	+b.cat-filter--js
		+e.top.d-lg-none
			+e.tr.row.align-items-center
				.col
					+e.tr-title Быстрые фильтры
				.col-auto
					+e.close-btn.cat-filter-toggle-js
						img(loading="lazy" src="img/svg/cross-new.svg" alt="")
			+e.wide-btn(href='#') Перейти в расширенный фильтр
		+e.wrap
			+e.header.d-none.d-lg-block
				+e.header-row.row.align-items-center
					.col
						+e.f-txt Фильтр
					.col-auto
						+e.discard(href="#") Сбросить
			+e.body
				+sCatalogFilterItem('Регион для поиска')
					+e.chb-items.chb-items-js
						//do not remove ".cat-filter__result-col", even if its empty
						+sCatalogFilterChb('Комсомольск-на-Амуре', '')(checked)
						+sCatalogFilterChb('Санкт-Петербург', '')(checked)
						+e.modal-btn(href="#") Изменить
				+sCatalogFilterItem('Заработная плата, ₽')
					+e.chb-items.chb-items-js
						+sCatalogFilterChb('С указаной зарплатой')
						+sCatalogFilterChb('от 10 000')
						+sCatalogFilterChb('от 20 000')
						+sCatalogFilterChb('от 30 000')(checked)
						+sCatalogFilterChb('от 40 000')
						+sCatalogFilterChb('от 50 000')
						+e.hidden.chb-items-hidden-js
							+sCatalogFilterChb('от 60 000')
							+sCatalogFilterChb('от 100 000')
						+sCatalogFilterToggleBtn()
				+sCatalogFilterItem('Опыт работы')
					+e.chb-items.chb-items-js
						+sCatalogFilterChb('Без опыта')
						+sCatalogFilterChb('от 1 года')
						+sCatalogFilterChb('от 2 лет')
						+sCatalogFilterChb('от 3 лет')
						+sCatalogFilterChb('от 4 лет')
						+sCatalogFilterChb('от 5 лет')
						+e.hidden.chb-items-hidden-js
							+sCatalogFilterChb('от 10 лет')
							+sCatalogFilterChb('от 20 лет')
						+sCatalogFilterToggleBtn()
				+sCatalogFilterItem('График работы')
					+e.chb-items.chb-items-js
						+sCatalogFilterChb('Полный рабочий день')
						+sCatalogFilterChb('Сменный график работы')
						+sCatalogFilterChb('Гибкий график')
						+sCatalogFilterChb('Неполный рабочий день')
						+e.hidden.chb-items-hidden-js.active
							+sCatalogFilterChb('Ненормированный рабочий день')
							+sCatalogFilterChb('Работа вахтовым методом')
						+sCatalogFilterToggleBtn('active')
				//-
				+sCatalogFilterItem('Covid-19', 1)
					+e.chb-items.chb-items-js
						+sCatalogFilterChb('Только с Covid-19')
				+sCatalogFilterItem('Жилье', 4)
					+e.chb-items.chb-items-js
						+sCatalogFilterChb('Предоставление субсидий на жилищное обустройство ')
						+sCatalogFilterChb('Предоставление служебного жилья')
						+sCatalogFilterChb('Компенсация стоимости аренды жилья')
						+sCatalogFilterChb('Компенсация по оплате ком. услуг')
						+e.hidden.chb-items-hidden-js.active
							+sCatalogFilterChb('Предоставление земельного участка под ИСЖ')
							+sCatalogFilterChb('Предоставление субсидий для переезда')
						+sCatalogFilterToggleBtn('active')
				//-
				+sCatalogFilterItem('Денежные выплаты', 6)
					+e.chb-items.chb-items-js
						+sCatalogFilterChb('Единовременная выплата при трудоустройстве')
						+sCatalogFilterChb('Выплата по программе "Земский фельдшер"')
						+sCatalogFilterChb('Выплата по программе "Земский доктор"')
						+sCatalogFilterChb('Программа государственной поддержки врачей дефицитных специальностей')
						+sCatalogFilterChb('Премии и бонусы')
						+e.hidden.chb-items-hidden-js
							+sCatalogFilterChb('Ненормированный рабочий день')
							+sCatalogFilterChb('Работа вахтовым методом')
						+sCatalogFilterToggleBtn()
				//-
				+sCatalogFilterItem('Бонусы', 5)
					+e.chb-items.chb-items-js
						+sCatalogFilterChb('Предоставление мест в детских садах/школах')
						+sCatalogFilterChb('ДМС или медицинское обслуживание')
						+sCatalogFilterChb('Дополнительный отпуск')
						+sCatalogFilterChb('Профессиональная профподготовка')
						+e.hidden.chb-items-hidden-js.active
							+sCatalogFilterChb('Внутреннее совместительство')
							+sCatalogFilterChb('Фитнес')
						+sCatalogFilterToggleBtn('active')
				+sCatalogFilterItem('Форма собственности')
					+e.chb-items.chb-items-js
						+sCatalogFilterChb('Частная')
						+sCatalogFilterChb('Государтсвенная')
						+sCatalogFilterChb('Иностранная')
				+sCatalogFilterItem('Отрасль компании')
					+e.chb-items.chb-items-js
						+sCatalogFilterChb('Медицина, фармацевтика')
						+sCatalogFilterChb('It, интернет, связь')
						+sCatalogFilterChb('Госудраственная служба')
						+sCatalogFilterChb('Кадры, управление персоналом')(checked)
						+sCatalogFilterChb('Промышленность, производство')
						+sCatalogFilterChb('Спорт, фитнес, салоны красоты, СПА')
						+e.modal-btn(href="#") Выбрать несколько
				+sCatalogFilterItem('Профотрасли')
					+e.chb-items.chb-items-js
						+sCatalogFilterChb('Медицина, фармацевтика')
						+sCatalogFilterChb('It, интернет, связь')
						+sCatalogFilterChb('Госудраственная служба')
						+sCatalogFilterChb('Кадры, управление персоналом')(checked)
						+sCatalogFilterChb('Промышленность, производство')
						+sCatalogFilterChb('Спорт, фитнес, салоны красоты, СПА')
						+e.modal-btn(href="#") Выбрать несколько
		+e.footer.d-lg-none
			+e.btn--green(href="#") Показать 120 вакансий
			+e.btn--white(href="#") Сбросить фильтр


mixin sCatalogFilterToggleBtn(addClasess='')
	+e.toggle-btn.chb-items-toggle-js(class=addClasess)
		span Показать еще
		span Свернуть

mixin sCatalogFilterItem(txt, imgNum, activeClasses='active')
	+e.item(class=activeClasses)
		+e.head.dd-head-js
			+e.h-row.row
				if imgNum
					.col-auto
						+e.h-icon
							img(loading="lazy" src=`img/svg/sCatalog-pill-${imgNum}.svg` alt="")
				.col
					+e.h-txt=txt
		+e.content.dd-content-js(class=activeClasses)
			block

mixin sCatalogFilterChb(txt, resultColTxt='13 890')
	+b.LABEL.f-checkbox
		input(type="checkbox" value=txt class='invisible')&attributes(attributes)
		+e.box
			+e.row.row
				+e.txt-col.col=txt
				+e.result-col.col-auto=resultColTxt

mixin sCatalogItem(data)
	+b.cat-item(class=data.addClasses)
		if data.bg
			+e.bg.d-none.d-md-block
				img(loading="lazy" src="img/@2x/sCatalog-item-bg.png" alt="")
		+e.top-row.row
			.col
				+e.title(href='#')=data.title
				+e.salary
					span=data.salary
					span.fw-600.ms-1 ₽
			.col-auto
				+e.date-row.row.align-items-center
					.col-auto.d-none.d-md-block
						+e.date 22 июля 2021, 19:19
					.col-auto
						+likeBtn('toggle-active-on-click-js')
		if data.pillsRow
			+b.cat-pills
				+e.row.row
					block
		if data.descr
			+e.descr=data.descr
		else
			+e.descr Вакансия компании: КласДент; «КласДент» - это современная стоматологическая клиника, осуществляющая все виды лечения заболеваний полости рта. У нас работают высококвалифицированные специалисты (терапевты, ортопеды, хирурги)
		+e.btns-row.row.align-items-center
			if data.defaultBtns
				.col-auto
					+e.btn--blue Откликнуться
				.col-auto
					+e.btn--gray.link-modal(href='#modal-cface') Позвонить
			if data.tealBtns
				.col-auto
					+e.btn--teal(href='#') Откликнуться
				.col-auto
					+e.btn--white(href='#') Позвонить
			if data.serviceBlock
				.col-auto
					+e.btn--gray(href='#') Подробнее
				+e.s-col.col
					+e.s-gray Вакансия предоставлена сервисом
					+e.s-link(href="superjob.ru" target="_blank") superjob.ru
		+e.bot-row.row.align-items-end.align-items-xl-center
			.col
				+e.org-name(href='#')=data.organization
				+e.city г. Москва
			if data.logoImg
				.col-auto
					+e.logo(href='#')
						img(loading="lazy" src=`img/@2x/sDayVac-${data.logoImg}.png` alt="")


mixin sCatalogItemPill(bgColor,txt, imgNum)
	.col-auto&attributes(attributes)
		+e.pill(style=`background: ${bgColor};`)
			if imgNum
				+e.p-img
					img(loading="lazy" src=`img/svg/sCatalog-pill-${imgNum}.svg` alt="")
			span=txt


mixin sCatalogDD(headTxt)
	+e.dd.sCatalog-dd-js
		+e.dd-head.sCatalog-dd-head-js=headTxt
		+e.dd-content.sCatalog-dd-content-js
			block

mixin sCatalogDDItem(name, txt)
	+e.LABEL.dd-item
		input(type='radio' name=name val=txt class='invisible')&attributes(attributes)
		span.txt.txt-js=txt