mixin sSearch(data)
	// start sSearch
	+b.SECTION.sSearch.section#sSearch&attributes(attributes)
		.container
			block
			+b.section-title
				h1 Организации
			+e.row.row
				+e.filter-col.col-xl-3
					+e.filter-cont
						+e.btn.f-btn-js.d-xl-none
							+e.img
								img(loading="lazy" src="img/svg/filter-bar.svg" alt="")
								img(loading="lazy" src="img/svg/filter-cross.svg" alt="")
							+e.btn-txt
								span Фильтр
								span Закрыть
						+filterSearch()
				.col-xl-9
					//-.row.row-default-sm.mb-0
						+sortSelItem('по алфавиту', 'col-12')
					//-+organizations()
					+newOrganizations()
					+puginRow()
	// end sSearch

mixin sSearchFilterContUpLg()
	+b.filter-cont
		+e.btn.f-btn-js.d-lg-none
			+e.img
				img(loading="lazy" src="img/svg/filter-bar.svg" alt="")
				img(loading="lazy" src="img/svg/filter-cross.svg" alt="")
			+e.btn-txt
				span Фильтр
				span Закрыть
		+filterSearch('visiable-up-lg bigger-txt-sm')

mixin sSearchVacancy(data)
	// start sSearch
	+b.SECTION.sSearch--vacancy.section#sSearch&attributes(attributes)
		.container
			block
			+b.section-title
				h1=`${data.title || 'Вакансии'}`
				if data.found
					p Найдено 1800 вакансий
			+e.row.row
				+e.filter-col.col-xl-3
					+e.filter-cont
						//-f-btn
						+e.f-btn.f-btn-js.d-xl-none
							+e.f-img
								img(loading="lazy" src="img/svg/filter-bar.svg" alt="")
								img(loading="lazy" src="img/svg/filter-cross.svg" alt="")
							+e.f-btn-txt
								span Фильтр
								span Закрыть
						+filterVacancy()
				.col-xl-9
					//-.row.row-default-sm.mb-0
						+sortSelItem('для меня', 'col-6')
						+sortSelItem('весь период', 'col-6')
					//+Vacancies()
					+e.vac-items.pb-36.pb-xl-48
						if data.found
							+profileItem({
								logo: '1',
								likeBtnClasses: 'active',
								descr: true,
							})
						else
							+profileItem({
								logo: '1',
								likeBtnClasses: 'active',
							})
						+profileItem({
							logo: false,
						})
						+profileItem({
							logo: '1',
						})
						//-
						+profileItem({
							logo: '2',
						})
						+profileItem({
							logo: '1',
						})
						+profileItem({
							logo: '2',
						})
						//-
						+profileItem({
							logo: '1',
							addClasses: "d-none d-xl-block",
						})
						+profileItem({
							logo: '2',
							addClasses: "d-none d-xl-block",
						})
					+puginRow()
	// end sSearch


mixin sSearchProfesionals(data)
	// start sSearch
	+b.SECTION.sSearch.section#sSearch&attributes(attributes)
		.container
			block
			+b.section-title
				h1 Профессионалы
			+e.row.row
				+e.filter-col.col-xl-3
					+e.filter-cont
						//-f-btn
						+e.f-btn.f-btn-js.d-xl-none
							+e.f-img
								img(loading="lazy" src="img/svg/filter-bar.svg" alt="")
								img(loading="lazy" src="img/svg/filter-cross.svg" alt="")
							+e.f-btn-txt
								span Фильтр
								span Закрыть
						+filterProf()
				.col-xl-9
					.row.row-default-sm.mb-0
						+sortSelItem('по соответствию', 'col-6')
						+sortSelItem('весь период', 'col-6')
					+profesionals()
					+puginRow()
	// end sSearch

mixin sortSelItem(chosenItem, bootClasses)
	.col-md-4(class=bootClasses)
		+e.sort-select
			select.form-control.form-select
				option=chosenItem
				option option 2
				option option 3

mixin filter()
	+b.filter--js
		+filterItem('Регион', 'active')
			+customSlect('name', ['Ленинградская область','option2','option3'], 'main-page-select2-js')
			//+e.select
				select.form-select.form-control
					option Ленинградская область
					option Ленинградская область2
					option Ленинградская область3
		+filterItem('Город', 'active')
			+customSlect('name', ['Санкт-Петербург','option2','option3'], 'main-page-select2-js')
			//-+e.select
				select.form-select.form-control
					option Санкт-Петербург
					option Львов
					option Киев
		+filterItem('Профобласть')
			+customChbGroup(['Работодатель', 'Профорганизация', 'Сообщество', 'Университет'])
		+filterItem('Уровень организации')
			+customChbGroup(['Региональный', 'Федеральный', 'Международный'])
		+filterItem('Уровень организации медицинской помощи')
			+customChbGroup(['Первичный медико-профилактический', 'Стационарный', 'Неотложная', 'Скорая', 'Санаторий'])
		+filterItem('Тип медицинской службы')
			+customChbGroup(['Педиатрическая', 'Взрослая', 'Смешанная'])
		+filterItem('Форма собственности')
			+customChbGroup(['Частная', 'Государтсвенная'])
		+e.BUTTON.show-btn(type="submit") Показать 938

mixin filterSearch(addClasses='')
	+b.filter--js(class=addClasses)
		+filterItem('Регион', 'active')
			+customSlect('name', ['Ленинградская область','Самара2','Самара2'], 'main-page-select2-js')
		+filterItem('Город', 'active')
			+customSlect('name', ['Санкт-Петербург','Львов','Львов2'], 'main-page-select2-js')
		+filterItem('Открытые организации')
			+customChbGroup(['Показывать только с открытыми вакансиями'])
		+filterItem('Форма собственности')
			+customChbGroup(['Частная', 'Государственная'])
		+filterItem('Проффесиональное направление')
			+customChbGroup(['Медицинские организации', 'Лаборатории', 'Клинические испытания', 'Лебечное дело (врачи-специалисты)', 'Лицензирование', 'Медициснкое оборудование', 'Санитарно-эпидемиологический надзор', 'Средний и младший медперсонал', 'Товары медицинского назначения', 'Уход за больными', 'Фармацевтика', 'Другое'])
		//-+filterItem('')
			+customChbGroup(['', '', '', '', ''])
		+e.BUTTON.show-btn(type="submit") Показать 938

mixin filterVacancy()
	+b.filter--js.--vac
		+filterItem('Регион')
			+customSlect('name', ['Ленинградская область','Самара2','Самара2'], 'main-page-select2-js')
		+filterItem('Город')
			+customSlect('name', ['Санкт-Петербург','Самара2','Самара2'], 'main-page-select2-js')
		//-new
		+filterItem('Уровень дохода, руб')
			+b.two-inps
				+input('25 000', 'number', undefined, 'salary_from')
				+input('100 000', 'number', undefined, 'salary_to')
			+customChb('Не показывать без зарплаты')(checked)
		+filterItem('Опыт работы')
			+customChbGroup(['Начало карьеры', '1-3 года', '3-5 лет', 'более 5 лет'])
		+filterItem('Тип занятости')
			+customChbGroup(['Полная', 'Частичная', 'Временная', 'Стажировка и практика', 'Сезонная/вахта', 'Удаленная'])
		+filterItem('График работы')
			+customChbGroup(['Полный день', 'Неполный день', 'Гибкий график', 'Сменный график', 'Вахтовый метод', 'Ненормированный'])
		+filterItem('Форма собственности компании')
			+customChbGroup(['Частная', 'Государственная'])
		//-+filterItem('')
			+customChbGroup(['', '', '', '', ''])
		//-+filterItem('График работы')
			+customChbGroup(['График работы', 'Сменный график', 'Гибкий график'])
			+e.show-more.active.show-more-js Показать еще 2
			+e.shm-content.shm-cont-js
				+customChb('откриваюсь на клик')
				+customChb('по серой кнопке')
		+e.BUTTON.show-btn(type="submit") Показать 95

mixin filterProf()
	+b.filter--js
		+filterItem('Регион')
			+customSlect('name', ['Ленинградская область', 'Самара2', 'Самара2'], 'main-page-select2-js')
		+filterItem('Город')
			+customSlect('name', ['Санкт-Петербург', 'Самара2', 'Самара2'], 'main-page-select2-js')
		+filterItem('Опыт работы')
			+customChbGroup(['от 1 года до 3 лет', 'от 3 до 6 лет', 'более 6 лет', 'без опыта'])
		+filterItem('Возраст, лет')
			+b.two-inps
				+input('18', 'number', undefined, 'salary_from')
				+input('75', 'number', undefined, 'salary_to')
		+filterItem('Уровень дохода, ₽')
			+b.two-inps
				+input('25 000', 'number', undefined, 'salary_from')
				+input('100 000', 'number', undefined, 'salary_to')
			+customChb('Не показывать без зарплаты')(checked)
		+filterItem('Пол')
			+customChbGroup(['Мужской', 'Женский'])
		+filterItem('Переезд/командировки')
			+customChbGroup(['Готов к переезду', 'Готов к командировкам'])
		+filterItem('Тип занятости')
			+customChbGroup(['Полная занятость', 'Частичная занятость', 'Проектная работа'])
			+e.show-more.active.show-more-js Показать еще 2
			+e.shm-content.shm-cont-js
				+customChb('откриваюсь на клик')
				+customChb('по серой кнопке')
		+filterItem('Фотография')
			+customChbGroup(['Только с фото', 'Можно без фото'])
		+filterItem('Ключевые навыки')
			+customChbGroup(['Пользователь ПК', 'Работа в команде', 'Организаторские навыки', 'Медицинская документация'])
			+e.show-more.active.show-more-js Показать еще 37
			+e.shm-content.shm-cont-js
				+customChb('откриваюсь на клик')
				+customChb('по серой кнопке')
		+filterItem('Язык')
			+customChbGroup(['Русский', 'Английский', 'Немецкий'])
			+e.show-more.active.show-more-js Показать еще 37
			+e.shm-content.shm-cont-js
				+customChb('откриваюсь на клик')
				+customChb('по серой кнопке')
		+filterItem('Категория прав')
			+customChbGroup(['B', 'C', 'A'])
			+e.show-more.active.show-more-js Показать еще 37
			+e.shm-content.shm-cont-js
				+customChb('откриваюсь на клик')
				+customChb('по серой кнопке')
		+filterItem('График работы')
			+customChbGroup(['Полный день', 'Сменный график', 'Гибкий график'])
			+e.show-more.active.show-more-js Показать еще 2
			+e.shm-content.shm-cont-js
				+customChb('откриваюсь на клик')
				+customChb('по серой кнопке')
		+filterItem('Статус')
			+customChbGroup(['В поиске работы', 'Рассмотрю варианты', 'Не рассматриваю'])
		+e.BUTTON.show-btn(type="submit") Показать 938

mixin filterItem(title, activeClass="active", addContentCl='')
	+e.item.f-item-js(class=activeClass)
		+e.head.dd-head-js=title
		+e.content.dd-content-js(class=`${activeClass} ${addContentCl}`)
			block

mixin customChbGroup(arr)
	+e.checkboxes
		- for (var i = 0; i < arr.length; i++)
			if i === 0
				+customChb(arr[i])(checked)
			else
				+customChb(arr[i])
			block

mixin customChb(txt, addClasses='')
	+b.LABEL.custom-chb(class=addClasses)
		input(type="checkbox" class="d-none" name="name")&attributes(attributes)
		span.square
		span.txt=txt

mixin organizations()
	+b.organ
		//- &ndash;
		+organizationsItem({logo: true, vacancy: true})
			| ЧУЗ Клиническая больница «РЖД - Медицина» города Санкт-Петербург
		+organizationsItem({})
			| Всероссийский центр экстренной и радиационной медицины им. А. М.
			br.d-none.d-md-block
			| Никифорова МЧС России
		+organizationsItem({logo: true, vacancy: true})
			| ЧУЗ Клиническая больница «РЖД - Медицина» города Санкт-Петербург
		+organizationsItem({})
			| Всероссийский центр экстренной и радиационной медицины им. А. М.
			br.d-none.d-md-block
			| Никифорова МЧС России
		+organizationsItem({logo: true, vacancy: true})
			| ЧУЗ Клиническая больница «РЖД - Медицина» города Санкт-Петербург
		+organizationsItem({})
			| Всероссийский центр экстренной и радиационной медицины им. А. М.
			br.d-none.d-md-block
			| Никифорова МЧС России
		+organizationsItem({logo: true, vacancy: true})
			| ЧУЗ Клиническая больница «РЖД - Медицина» города Санкт-Петербург
		+organizationsItem({})
			| Всероссийский центр экстренной и радиационной медицины им. А. М.
			br.d-none.d-md-block
			| Никифорова МЧС России
		+organizationsItem({logo: true, vacancy: true})(class="d-none d-xl-flex")
			| ЧУЗ Клиническая больница «РЖД - Медицина» города Санкт-Петербург
		+organizationsItem({})(class="d-none d-xl-flex")
			| Всероссийский центр экстренной и радиационной медицины им. А. М.
			br.d-none.d-md-block
			| Никифорова МЧС России
		+organizationsItem({logo: true, vacancy: true})(class="d-none d-xl-flex")
			| ЧУЗ Клиническая больница «РЖД - Медицина» города Санкт-Петербург
		+organizationsItem({})(class="d-none d-xl-flex")
			| Всероссийский центр экстренной и радиационной медицины им. А. М.
			br.d-none.d-md-block
			| Никифорова МЧС России

mixin organizationsItem(data)
	+e.item&attributes(attributes)
		+e.row.row
			.col
				+e.title(href="#")
					block
				+e.descr г. Санкт-Петербург, пр. Мечникова, д.27
			if data.logo
				.col-auto
					+e.company-logo(href='#')
						img(loading="lazy" src="img/@2x/company-logo.png" alt="")
		+e.lower-row.row.align-items-center
			.col
				+e.data-row.row.align-items-center
					.col-auto
						+e.workers-amount Более 100 сотрудников
					.col-auto
						if data.vacancy
							+e.vac-link(href="#") 7 вакансий
						else
							+e.vac-empty Нет вакансий
			//-.col-auto
				//-have css class "active"
				+e.like-btn(href='#')
					+icon('like')


mixin Vacancies()
	+b.organ--vac
		+vacancyItem({
			dataFancy: 'jobGalery1',
			imgsNumArr: [3,1,4],
			logo: true,
			update: true,
			prof: 'Врач-терапевт стационар',
			orgName: 'ЧУЗ Клиническая больница «РЖД - Медицина» города Санкт-Петербург',
			city: 'г. Санкт-Петербург',
			descr: 'Получает информацию о заболевании. Применяет объективные методы обследования больного. Выявляет общие и специфические признаки заболевания. Выполняет перечень работ и услуг. Высшее профильное образование.',
			salary: '30 000-35 000 ₽',
		})
		+vacancyItem({
			dataFancy: 'jobGalery2',
			imgsNumArr: [3, 1, 2, 4, 3],
			prof: 'Врач-терапевт',
			orgName: 'ООО УК Медгард',
			city: 'г. Санкт-Петербург',
			descr: 'Приём амбулаторных пациентов. Ведение пациентов в стационаре. Разработка индивидуального плана лечения и диагностики. Проведение экспертизы нетрудоспособности. Осуществление контроля за работой...',
			salary: 'от 15 000 ₽',
		})
		+vacancyItem({
			dataFancy: 'jobGalery1',
			imgsNumArr: [3, 1, 4],
			logo: true,
			update: true,
			prof: 'Врач-терапевт стационар',
			orgName: 'ЧУЗ Клиническая больница «РЖД - Медицина» города Санкт-Петербург',
			city: 'г. Санкт-Петербург',
			descr: 'Получает информацию о заболевании. Применяет объективные методы обследования больного. Выявляет общие и специфические признаки заболевания. Выполняет перечень работ и услуг. Высшее профильное образование.',
			salary: '30 000-35 000 ₽',
		})
		+vacancyItem({
			dataFancy: 'jobGalery2',
			imgsNumArr: [3, 1, 2, 4, 3],
			prof: 'Врач-терапевт',
			orgName: 'ООО УК Медгард',
			city: 'г. Санкт-Петербург',
			descr: 'Приём амбулаторных пациентов. Ведение пациентов в стационаре. Разработка индивидуального плана лечения и диагностики. Проведение экспертизы нетрудоспособности. Осуществление контроля за работой...',
			salary: 'от 15 000 ₽',
		})
		//-hidden mob
		+vacancyItem({
			dataFancy: 'jobGalery1',
			imgsNumArr: [3, 1, 4],
			logo: true,
			update: true,
			prof: 'Врач-терапевт стационар',
			orgName: 'ЧУЗ Клиническая больница «РЖД - Медицина» города Санкт-Петербург',
			city: 'г. Санкт-Петербург',
			descr: 'Получает информацию о заболевании. Применяет объективные методы обследования больного. Выявляет общие и специфические признаки заболевания. Выполняет перечень работ и услуг. Высшее профильное образование.',
			salary: '30 000-35 000 ₽',
		})(class="d-none d-xl-flex")
		+vacancyItem({
			dataFancy: 'jobGalery2',
			imgsNumArr: [3, 1, 2, 4, 3],
			prof: 'Врач-терапевт',
			orgName: 'ООО УК Медгард',
			city: 'г. Санкт-Петербург',
			descr: 'Приём амбулаторных пациентов. Ведение пациентов в стационаре. Разработка индивидуального плана лечения и диагностики. Проведение экспертизы нетрудоспособности. Осуществление контроля за работой...',
			salary: 'от 15 000 ₽',
		})(class="d-none d-xl-flex")

mixin vacancyItem(data)
	+e.item--vac&attributes(attributes)
		+e.row--vac.row
			.col
				+e.title(href="#")=data.prof
				+e.org-name(href="#")=data.orgName
				+e.city=data.city
			if data.logo
				.col-auto
					+e.company-logo(href='#')
						img(loading="lazy" src="img/@2x/company-logo.png" alt="")
		+e.description=data.descr
		+e.salary=data.salary
		+e.galary
			+e.g-row.row
				- for (var i = 0; i < data.imgsNumArr.length; i++)
					+galaryItem(data.imgsNumArr[i], data.dataFancy)
		+e.lower-row.row.align-items-md-center
			.col
				+e.btns-row.row.align-items-md-center
					.col-auto
						+e.respond-btn(href="#") Откликнуться
					.col-auto
						+e.show-btn(href="#") Показать контакты
					.col-auto
						+e.placement
							span.d-md-block.d-xl-inline
								| Размещено:
								|
							span 04.02.2021
					if data.update
						.col-auto
							+e.placement
								span.d-md-block.d-xl-inline
									| Обновлено:
									|
								span 04.02.2021
			.col-auto
				//-have css class "active"
				+e.like-btn(href='#')
					+icon('like')

mixin galaryItem(imgNum,dataFancy)
	.col.col-part-5
		+e.g-img(href=`img/@2x/stab-${imgNum}.jpg` data-fancybox=dataFancy)
			img(loading="lazy" src=`img/@2x/stab-${imgNum}.jpg` alt="")

mixin puginRow()
	+b.pugin-row.row
		.col
			+b.pugination
				//-new
				ul.pagination
					li.prev.disabled: span
							+icon('chevron-left')
					li.active: a(href="#") 1
					li: a(href="#") 2
					li: a(href="#") 3
					li: a(href="#") ...
					li: a(href="#") 5
					li.next.disabled: a(href="#")
						+icon('chevron-right')
		.col-auto
			+e.select-cont
				+e.sel-title Показать по:
				+customSlect('name', ['12','24','36'], 'main-page-select2-js')
				//+e.SELECT.select.form-control.form-select
					option 12
					option 24
					option 36

mixin newOrganizations()
	+b.organN
		-for(var i =0; i < 6; i++)
			+newOrganizationsItem({
				logo: false,
				title: 'ЧУЗ Клиническая больница «РЖД - Медицина» города Санкт-Петербург',
			})
			+newOrganizationsItem({
				logo: true,
				title: 'Всероссийский центр экстренной и радиационной медицины им. А. М. Никифорова МЧС России',
			})

mixin newOrganizationsItem(data)
	+e.item
		+e.row.row.align-items-center
			.col-auto
				if data.logo
					+e.logo-box(href='#')
						img(loading="lazy" src=`img/svg/company-logo.svg` alt="")
				else
					+e.logo-box--empty(href='#')
						img(loading="lazy" src=`img/svg/company-stab2.svg` alt="")
			.col
				+e.title(href='#')=data.title
				+e.city г. Санкт-Петербург, пр. Мечникова, д.27

mixin sSearchVacancyDemo(data)
	// start sSearch
	+b.SECTION.sSearch--vacancy.section#sSearch&attributes(attributes)
		.container
			block
			+b.section-title
				h1 Вакансии
			+e.row.row
				+e.filter-col.col-xl-3
					+e.filter-cont
						//-f-btn
						+e.f-btn.f-btn-js.d-xl-none
							+e.f-img
								img(loading="lazy" src="img/svg/filter-bar.svg" alt="")
								img(loading="lazy" src="img/svg/filter-cross.svg" alt="")
							+e.f-btn-txt
								span Фильтр
								span Закрыть
						+filterVacancy()
				.col-xl-9
					+e.vac-items.pb-36.pb-xl-48
						+profileItem({
							date: '12 июня 2021',
							name: 'Медицинская сестра',
							salary: '50 000-100 000 ₽',
							imgName: 'demo-vac-',
							logo: 1,
							title: 'ООО Лаборатория Гемотест',
							city: 'г. Москва',
							addClasses: 'item-alt',
							hiddenItems: true,
						})
						+profileItem({
							date: '12 июня 2021',
							name: 'Врач рентгенолог КТ',
							salary: 'от 100 000 ₽',
							imgName: 'demo-vac-',
							logo: 2,
							title: 'МРЦ Беляево (Центр Дикуля)',
							city: 'г. Москва',
						})
						+profileItem({
							date: '12 июня 2021',
							name: 'Архивариус',
							salary: '50 000 ₽',
							imgName: 'demo-vac-',
							logo: 3,
							title: 'ГК Медси. Клиники',
							city: 'г. Москва',
						})
						+profileItem({
							date: '12 июня 2021',
							name: 'Ночной дежурант в аптеку',
							salary: '18 000-25 000 ₽',
							imgName: 'demo-vac-',
							logo: 4,
							title: 'ЗАО ЭВАЛАР',
							city: 'г. Москва',
						})
						+profileItem({
							date: '12 июня 2021',
							name: 'Врач-дерматовенеролог',
							salary: '75 000 ₽',
							imgName: 'demo-vac-',
							logo: 5,
							title: 'БУДЬ ЗДОРОВ, Клиника',
							city: 'г. Москва',
						})
						+profileItem({
							date: '12 июня 2021',
							name: 'Врач-стоматолог-терапевт',
							salary: 'З/п не указана',
							imgName: 'demo-vac-',
							logo: 6,
							title: 'ГК Медси. Клиники',
							city: 'г. Москва',
						})
					+puginRow()
	// end sSearch