//- menu
mixin mnu()
	-
		var nav= {
			"Организации":"#",
			"Вакансии":"#",
			//"Профессионалы":"#",
			}
	+b.UL.navMenu
		each linkPatch, linkName in nav
			+e.LI.item: +e.A.link(href=linkPatch )= linkName
//- /menu

mixin mnu2()
	-
		var nav= {
			"О проекте":"#",
			"Помощь":"#",
			"Контакты":"#",
		}
	+b.UL.navMenu
		each linkPatch, linkName in nav
			+e.LI.item: +e.A.link(href=linkPatch)= linkName

mixin mnu3()
	-
		var nav= {
			"Публичная оферта":"#",
			"Правила пользования":"#",
		}
	+b.UL.navMenu&attributes(attributes)
		each linkPatch, linkName in nav
			+e.LI.item: +e.A.link(href=linkPatch)= linkName

mixin mnu4()
	-
		var nav= {
			"Вакансии":"#",
			"Организации":"#",
			"Оценить компанию":"#",
			"Рейтинг зарплат":"#",
		}
	+b.UL.navMenu
		each linkPatch, linkName in nav
			+e.LI.item: +e.A.link(href=linkPatch )= linkName

mixin mnu5()
	-
		var nav= {
			"Помощь":"#",
			"Контакты":"#",
		}
	+b.UL.navMenu&attributes(attributes)
		each linkPatch, linkName in nav
			+e.LI.item: +e.A.link(href=linkPatch)= linkName

mixin mnu6()
	-
		var nav= {
			"Публикация вакансии":"#",
		}
	+b.UL.navMenu&attributes(attributes)
		each linkPatch, linkName in nav
			+e.LI.item: +e.A.link(href=linkPatch)= linkName

mixin mnu7()
	-
		var nav= {
			"Контакты":"#",
		}
	+b.UL.navMenu&attributes(attributes)
		each linkPatch, linkName in nav
			+e.LI.item: +e.A.link(href=linkPatch)= linkName

mixin mnu8()
	-
		var nav= {
			"Публикация вакансии":"#",
			"Тарифы":"#",
		}
	+b.UL.navMenu&attributes(attributes)
		each linkPatch, linkName in nav
			+e.LI.item: +e.A.link(href=linkPatch)= linkName